

<script type="text/ng-template" id="lx-template-cache/browser-is-not-supported-modal.html">
    <div class="modal-header">
       <h3 class="modal-title">Your browser is not supported!</h3>
    </div>
    <div class="modal-body"> Please try using Chrome, Firefox, or Opera to access VideochatHub.com
    </div>
    <div class="modal-footer">
       <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>



<script type="text/ng-template" id="lx-template-cache/ios-is-not-supported-modal.html">
    <div class="modal-header">
       <h3 class="modal-title">iPad, iPhone, and iPod are not supported :-(</h3>
    </div>
    <div class="modal-body">
        Most of the video functionality of this site will not work correctly on your device.
        Please try accessing VideochatHub from a desktop computer or an Android device.
    </div>
    <div class="modal-footer">
       <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>



<script type="text/ng-template" id="lx-template-cache/mini-video-template.html">
    <div class="cl-mini-video-div">

        <div class="cl-local-hd-mini-video-wrapper-div" ng-show="(videoSignalingObject.localIsSendingVideoType == 'hdVideo')">
            <div  style="display:inline-block" class="cl-mini-well">
                <video class="cl-mini-video-element" autoplay="autoplay" muted="true"/>
            </div>
        </div>

        <div lx-generate-ascii-video-directive class="cl-local-ascii-mini-video-wrapper-div" ng-show="(videoSignalingObject.localIsSendingVideoType == 'asciiVideo')" >
            <div  style="display:inline-block" class="cl-mini-well">
                <pre class="cl-ascii-container cl-mini-ascii-container-sizing"><span class="cl-ascii-drawing-text cl-ascii-mini-span">Local ascii drawing goes here</span></pre>
            </div>
        </div>
    </div>
</script>