

<script type="text/ng-template" id="lx-template-cache/ios-is-not-supported-modal.html">
    <div class="modal-header">
       <h3 class="modal-title">iPad, iPhone, and iPod are not supported :-(</h3>
    </div>
    <div class="modal-body">
        Most of the video functionality of this site will not work correctly on your device.
        Please try accessing VideochatHub from an Android device or a desktop computer.
    </div>
    <div class="modal-footer">
       <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>


<script type="text/ng-template" id="lx-template-cache/browser-is-not-supported-modal.html">
    <div class="modal-header">
       <h3 class="modal-title">Your browser is not supported!</h3>
    </div>
    <div class="modal-body">
        Your browser is does not support the video functionality required to use all of the features of VideochatHub.
        Please try using
        <a href="https://www.google.com/chrome/browser/">Chrome</a>,
        <a href="https://www.mozilla.org/firefox/new">Firefox</a>, or
        <a href="http://www.opera.com">Opera</a>.
    </div>
    <div class="modal-footer">
       <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>


<script type="text/ng-template" id="lx-template-cache/browser-version-is-not-supported-modal.html">
    <div class="modal-header">
       <h3 class="modal-title">Your browser is out of date!</h3>
    </div>
    <div class="modal-body">
        Please upgrade your browser to a newer version in order to use the functionality of VideochatHub.
    </div>
    <div class="modal-footer">
       <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>

<script type="text/ng-template" id="lx-template-cache/chrome-mac-access-camera-modal.html">
    <div class="modal-header">
       <h3 class="modal-title">Please allow access to your camera</h3>
    </div>
    <div class="modal-body">
        Please click on the Allow button at the top right corner of your screen.
    </div>
</script>

<script type="text/ng-template" id="lx-template-cache/chrome-mac-access-camera-previously-denied-modal.html">
    <div class="modal-header">
       <h3 class="modal-title">Please allow access to your camera</h3>
    </div>
    <div class="modal-body">
        It appears that you have denied access to your camera. This website will not function correctly if your camera
        is not enabled. Please look for the camera symbol (
        <span style="color:#888888; position:relative; top:0.25em; font-size:1.5em" class="icon-video"></span>
        <span style="color:#bb0000; position:relative; left:-1.6em; top: 0.6em; font-size:0.7em; margin-right:-1.4em;" class="icon-close"></span>
        ) at the top right of your browser, and click on it to modify
        your permissions.
    </div>
</script>




<script type="text/ng-template" id="lx-template-cache/mini-video-template.html">
    <div class="cl-mini-video-div">

        <div class="cl-local-hd-mini-video-wrapper-div" ng-show="(videoSignalingObject.localIsSendingVideoType == 'hdVideo')">
            <div  style="display:inline-block" class="cl-mini-well">
                <video class="cl-mini-video-element" autoplay="autoplay" muted="true"/>
            </div>
        </div>

        <div lx-generate-ascii-video-directive class="cl-local-ascii-mini-video-wrapper-div" ng-show="(videoSignalingObject.localIsSendingVideoType == 'asciiVideo')" >
            <div  style="display:inline-block" class="cl-mini-well">
                <pre class="cl-ascii-container cl-mini-ascii-container-sizing"><span class="cl-ascii-drawing-text cl-ascii-mini-span">Local ascii drawing goes here</span></pre>
            </div>
        </div>
    </div>
</script>