
{% include "lx-jinja-templates/lx-template-cache.html" %}

{% raw %}



<div class="container">

    <div class="row" id="id-videochat-logo">
        <div class="col-xs-5">
            <img class="img-responsive" src="images/videochathub.jpg"/>
        </div>
    </div>


    <div lx-check-if-browser-is-supported></div>

    <div ng-controller="lxMainVideoCtrl">

        <div ng-if="debugBuildEnabled">
            User Name: {{ myUsername }}
        </div>

        <div lx-access-camera-and-microphone-directive></div>

        <div class="row">
            <div lx-video-container-directive>

                <div class="col-sm-6" id="id-local-video-wrapper-div">
                    <div class="text-center">
                        <div id="id-local-hd-video-wrapper-div" ng-show="(videoSignalingObject.localIsSendingVideoType == 'HD Video' ||  !videoSignalingObject.localIsSendingVideoType)" >
                            <h4>Local HD Video</h4>
                            <div style="display:inline-block" class="cl-my-well" >
                                <video class="cl-video-sizing" id="id-local-video-element" autoplay="autoplay" muted="true">You must update to a newer version of Chrome or Firefox to use video</video>
                            </div>
                        </div>

                        <div lx-generate-ascii-video-directive id="id-local-ascii-video-wrapper-div" ng-show="(videoSignalingObject.localIsSendingVideoType == 'ASCII Video')" >
                            <h4>Local ASCII Video</h4>
                            <div class="cl-my-well" style="display:inline-block" >
                                <div style="position: relative">
                                    <!-- Do not move the span to a different line than the pre - the formatting will change if this is done since a blank will be added before the span. -->
                                    <pre class="cl-ascii-container cl-video-sizing"><span class="cl-ascii-drawing-text cl-ascii-normal-span">
                                    </span></pre>
                                </div>
                            </div>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-sm"
                                    ng-class="(videoSignalingObject.localHasSelectedVideoType == 'HD Video') ? 'btn-primary disabled' : 'btn-default'"
                                    ng-click="setLocalVideoType('HD Video')">HD Video</button>
                            <button type="button" class="btn btn-sm"
                                    ng-class="(videoSignalingObject.localHasSelectedVideoType == 'ASCII Video') ? 'btn-primary disabled' : 'btn-default'"
                                    ng-click="setLocalVideoType('ASCII Video')">ASCII Video</button>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6" id="id-remote-video-wrapper-div">
                    <div class="text-center" >
                        <div ng-controller="lxVideoNegotiationCtrl">
                            <div id="id-remote-hd-video-wrapper-div" ng-show="(videoSignalingObject.remoteIsSendingVideoType == 'HD Video' ||  !videoSignalingObject.remoteIsSendingVideoType)">
                                <h4>Remote HD Video</h4>

                                <div  class="cl-my-well" style="display:inline-block">
                                    <div style="position: relative">
                                        <video class="cl-video-sizing" id="id-remote-video-element" autoplay="autoplay">
                                            You must update to a newer version of Chrome or Firefox to use video
                                        </video>
                                        <div lx-mini-video-template-directive></div>
                                        <nav ng-hide="true" lx-video-settings-negotiation-directive
                                             class="navbar navbar-inverse navbar-fixed-bottom cl-navbar-absolute-bottom cl-show-hide-fade" >
                                        </nav>
                                    </div>
                                </div>
                            </div>

                            <div lx-draw-remote-ascii-video-directive id="id-remote-ascii-video-wrapper-div"  ng-show="(videoSignalingObject.remoteIsSendingVideoType == 'ASCII Video')">
                                <h4>Remote ASCII Video</h4>
                                <div style="display:inline-block" class="cl-my-well">
                                    <div style="position: relative">
                                        <!-- Do not move the span to a different line than the pre - the formatting will change if this is done since a blank will be added before the span. -->
                                    <pre class = "cl-ascii-container cl-video-sizing"><span class="cl-ascii-drawing-text cl-ascii-normal-span">
                                    </span></pre>
                                        <div lx-mini-video-template-directive></div>
                                        <nav ng-hide="true" lx-video-settings-negotiation-directive
                                             class="navbar navbar-inverse navbar-fixed-bottom cl-navbar-absolute-bottom cl-show-hide-fade" >
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class = "cl-hide-on-larger-than-xs">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm"
                                        ng-class="(videoSignalingObject.localHasSelectedVideoType == 'HD Video') ? 'btn-primary disabled' : 'btn-default'"
                                        ng-click="setLocalVideoType('HD Video')">HD Video</button>
                                <button type="button" class="btn btn-sm"
                                        ng-class="(videoSignalingObject.localHasSelectedVideoType == 'ASCII Video') ? 'btn-primary disabled' : 'btn-default'"
                                        ng-click="setLocalVideoType('ASCII Video')">ASCII Video</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div lx-monitor-control-keys-directive ></div>


        <!-- Footer div is at the bottom of the page, but is placed here so that it
        has access to the main-video-ctrl scope -->

        <nav lx-call-status-directive class="navbar navbar-inverse navbar-fixed-bottom"></nav>
    </div>
</div>

<!--
The following divs are used by the javascript to pass sass variables from the css into javascript, by setting
properties of these divs to the value of the sass variable.
See css declarations for each of the following id's for more details on which property has been set.
 -->
<div id="id-dummy-xs-div"></div>

{% endraw %}