$icon-lx-new-chat: "\e609";
$icon-lx-chat-bubble: "\e60a";
$icon-lx-thin-forward-slash: "\e600";
$icon-lx-thick-forward-slash: "\e601";
$icon-lx-phone-hang-up: "\e60f";
$icon-lx-volume-high: "\e610";
$icon-lx-video-camera-line: "\e602";
$icon-lx-3-vert-dots: "\e603";
$icon-lx-x-symbol: "\e604";
$icon-lx-check-mark: "\e605";
$icon-lx-arrow-up: "\e606";
$icon-lx-video-camera-filled: "\e607";
$icon-lx-microphone: "\e608";
$icon-lx-time: "\e60b";
$icon-lx-phone: "\e60e";
$icon-lx-users: "\e611";
$icon-lx-user-add: "\e612";
$icon-lx-bell: "\e613";
$icon-lx-flag: "\e614";
$icon-lx-chat-bubble-dual: "\e615";
$icon-lx-panel-bubble-empty: "\e616";
$icon-lx-panel-bubble-full: "\e617";
$icon-lx-panel-bubble-fading: "\e618";
$icon-lx-power-switch: "\e60c";
