<!doctype html>
<html ng-app="videoApp" class="no-js">
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>{{ site_name_for_display }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- the following line is used by grunt-usemin to detect which css it should combine this block into -->
    <!-- build:css(.tmp) styles/main.css -->

        <!-- Note that the build scripts will generate "css" files from the "scss" files. For this reason,
             these files are referenced with .css extensions as opposed to .scss extensions which appear in
             the file system. During debugging, these are accessed from the .tmp directory, and for
             release, they are accessed from the dist directory -->
        <link rel="stylesheet" href="/styles/lx-main.css" />

    <!-- endbuild -->

    {% include "lx-templates/lx-favicons.html" %}


</head>


<body presence-directive ng-controller="LxPresenceController" >

    {% include "lx-templates/lx-main.html" %}

    <script type='text/javascript'>
        var userInfoEmbeddedInHtml = {{ userInfoEmbeddedInHtmlJson }}
    </script>


    <script type="text/javascript" src="/_ah/channel/jsapi"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
        <script src="/bower_components/es5-shim/es5-shim.js"></script>
        <script src="/bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->


    <!-- The following line indicates to usemin that the "build:js" wrapped javascript files should be combined
         into a single file which is currently "scripts/bower-combined.js" -->
    <!-- build:js scripts/bower.js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/es5-shim/es5-shim.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/json3/lib/json3.js"></script>
        <script src="/bower_components/angular-gettext/dist/angular-gettext.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-touch/angular-touch.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <!-- endbuild -->


    <!-- build:js scripts/lx-combined.js -->

        <!-- the ie-9 workaround is included here because some of the following scripts need it -->
        <script src="scripts/workarounds/ie-9-and-earlier.js"></script>

        <!-- Load the polyfill to switch-hit between Chrome and Firefox -->
        <script src="/scripts/vendor/lz-string-1.3.3.js"></script>
        <script src="/scripts/vendor/viewport-size.js"></script>
        <script src="/scripts/vendor/jquery.browser.js"></script>
        <script src="/scripts/vendor/adapter.js"></script>
        <script src="/scripts/vendor-directives/scrollglue.js"></script>
        <script src="/scripts/vendor-directives/angular-presence.js"></script>

        <script src="/scripts/gettext/translations.js"></script>

        <script src="/scripts/lx-main.js"></script>

        <script src="/scripts/lx-providers/lx-decorators.js"></script>

        <script src="/scripts/lx-controllers/lx-chat-room-controllers.js"></script>
        <script src="/scripts/lx-controllers/lx-chat-panel-controllers.js"></script>
        <script src="/scripts/lx-controllers/lx-debugging-info-controller.js"></script>
        <script src="/scripts/lx-controllers/lx-landing-page-controllers.js"></script>
        <script src="/scripts/lx-controllers/lx-login-controllers.js"></script>
        <script src="/scripts/lx-controllers/lx-presence-controller.js"></script>
        <script src="/scripts/lx-controllers/lx-main-view-controllers.js"></script>
        <script src="/scripts/lx-controllers/lx-video-controllers.js"></script>

        <script src="/scripts/lx-routes/lx-routes.js"></script>

        <script src="/scripts/lx-services/lx-authentication-services.js"></script>
        <script src="/scripts/lx-services/lx-access-system-resources-services.js"></script>
        <script src="/scripts/lx-services/lx-basic-functionality-services.js"></script>
        <script src="/scripts/lx-services/lx-channel-services.js"></script>
        <script src="/scripts/lx-services/lx-chat-room-services.js"></script>
        <script src="/scripts/lx-services/lx-check-compatibility-services.js"></script>
        <script src="/scripts/lx-services/lx-codecs-services.js"></script>
        <script src="/scripts/lx-services/lx-error-handling-services.js"></script>
        <script src="/scripts/lx-services/lx-form-services.js"></script>
        <script src="/scripts/lx-services/lx-http-services.js"></script>
        <script src="/scripts/lx-services/lx-global-vars-and-constants-services.js"></script>
        <script src="/scripts/lx-services/lx-main-view-services.js"></script>
        <script src="/scripts/lx-services/lx-modal-support-services.js"></script>
        <script src="/scripts/lx-services/lx-presence-services.js"></script>
        <script src="/scripts/lx-services/lx-utility-services.js"></script>
        <script src="/scripts/lx-services/lx-web-rtc-services.js"></script>
        <script src="/scripts/lx-services/lx-video-services.js"></script>
        <script src="/scripts/lx-services/lx-video-settings-negotiation-services.js"></script>

        <script src="/scripts/lx-directives/lx-chatbox-directives.js"></script>
        <script src="/scripts/lx-directives/lx-common-directives.js"></script>
        <script src="/scripts/lx-directives/lx-chat-room-directives.js"></script>
        <script src="/scripts/lx-directives/lx-landing-page-directives.js"></script>
        <script src="/scripts/lx-directives/lx-login-directives.js"></script>
        <script src="/scripts/lx-directives/lx-video-directives.js"></script>
        <script src="/scripts/lx-directives/lx-video-exchange-user-feedback-directives.js"></script>


    <!-- endbuild -->

    {% if enable_live_reload %}
    <script src="//localhost:35729/livereload.js"></script>
    {% endif %}

    <!--
    The following divs are used by the javascript to pass sass variables from the css into javascript, by setting
    properties of these divs to the value of the sass variable.
    See css declarations for each of the following id's for more details on which property has been set.
     -->
    <div id="id-dummy-xs-div"></div>
    <div id="id-document-title-div" style="display:none">{{ site_name_for_display }}</div>

</body>
</html>
