<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


    <!-- build:css styles/vendor.css -->
    <!-- endbuild -->

    <!-- the following line is used by grunt-usemin to detect which css it should combine this block into -->
    <!-- build:css(.tmp) styles/main.css -->

        <!-- Note that the build scripts will generate "css" files from the "scss" files. For this reason,
             these files are referenced with .css extensions as opposed to .scss extensions which appear in
             the file system. During debugging, these are accessed from the .tmp directory, and for
             release, they are accessed from the dist directory -->
        <link rel="stylesheet" href="/styles/lx-main.css" />

    <!-- endbuild -->

    {% include "lx-templates/lx-jinja-templates/lx-favicons.html" %}


</head>


<body ng-app="videoApp">

    <div class="container">

        <div class="row" id="id-videochat-logo" class="text-center">
            <div class="col-xs-12 text-center">
                <div class="cl-match-element-to-video-sizing" style="display:inline-block">
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <img class="img-responsive" src="/images/chat-surfing.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "lx-templates/lx-jinja-templates/lx-login-registration.html" %}

        <div ng-controller="lxVideoChatAppViewCtrl">
            <!-- ng-view will call in the appropriate template for the current URL location -->
            <div ng-view></div>
        </div>

    </div>

    <script type='text/javascript'>
        var userInfoEmbeddedInHtml = {{ userInfoEmbeddedInHtmlJson }}
    </script>


    <script type="text/javascript" src="/_ah/channel/jsapi"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="/bower_components/es5-shim/es5-shim.js"></script>
    <script src="/bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/es5-shim/es5-shim.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/json3/lib/json3.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/bower_components/angular-touch/angular-touch.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbuild -->


    <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!-- Load the polyfill to switch-hit between Chrome and Firefox -->
        <script src="/scripts/vendor/lz-string-1.3.3.js"></script>
        <script src="/scripts/vendor/viewport-size.js"></script>
        <script src="/scripts/vendor/jquery.browser.js"></script>
        <script src="/scripts/vendor/adapter.js"></script>
        <script src="/scripts/vendor-directives/scrollglue.js"></script>

        <script src="/scripts/lx-main.js"></script>

        <script src="/scripts/lx-providers/lx-decorators.js"></script>

        <script src="/scripts/lx-controllers/lx-chat-room-controllers.js"></script>
        <script src="/scripts/lx-controllers/lx-chatbox-controllers.js"></script>
        <script src="/scripts/lx-controllers/lx-landing-page-controllers.js"></script>
        <script src="/scripts/lx-controllers/lx-main-view-controllers.js"></script>

        <script src="/scripts/lx-routes/lx-routes.js"></script>

        <script src="/scripts/lx-services/lx-access-system-resources-services.js"></script>
        <script src="/scripts/lx-services/lx-channel-services.js"></script>
        <script src="/scripts/lx-services/lx-chatbox-services.js"></script>
        <script src="/scripts/lx-services/lx-check-compatibility-services.js"></script>
        <script src="/scripts/lx-services/lx-codecs-services.js"></script>
        <script src="/scripts/lx-services/lx-utility-services.js"></script>
        <script src="/scripts/lx-services/lx-error-handling-services.js"></script>
        <script src="/scripts/lx-services/lx-http-services.js"></script>
        <script src="/scripts/lx-services/lx-global-vars-and-constants-services.js"></script>
        <script src="/scripts/lx-services/lx-modal-support-services.js"></script>
        <script src="/scripts/lx-services/lx-chat-room-services.js"></script>
        <script src="/scripts/lx-services/lx-web-rtc-services.js"></script>
        <script src="/scripts/lx-services/lx-select-video-type-preference-services.js"></script>

        <script src="/scripts/lx-directives/lx-ascii-video-directives.js"></script>
        <script src="/scripts/lx-directives/lx-chatbox-directives.js"></script>
        <script src="/scripts/lx-directives/lx-common-directives.js"></script>
        <script src="/scripts/lx-directives/lx-main-video-directives.js"></script>
        <script src="/scripts/lx-directives/lx-chat-room-directives.js"></script>
        <script src="/scripts/lx-directives/lx-user-input-feedback-directives.js"></script>
        <script src="/scripts/lx-directives/lx-select-video-type-preference-directives.js"></script>



    <!-- endbuild -->

    {% if enable_live_reload %}
    <script src="//localhost:35729/livereload.js"></script>
    {% endif %}

    <!--
    The following divs are used by the javascript to pass sass variables from the css into javascript, by setting
    properties of these divs to the value of the sass variable.
    See css declarations for each of the following id's for more details on which property has been set.
     -->
    <div id="id-dummy-xs-div"></div>


</body>
</html>
