<!-- This code came from http://www.bootply.com/6mdOs5FvKU -->
{% raw %}
<div ng-controller="lxChatboxMainCtrl">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="cl-match-element-to-video-sizing" style="display:inline-block">
                <div class="row">
                    <div class="col-md-10 col-lg-8">
                        <div class="panel panel-primary">

                            <div class="panel-heading">
                                <span class="icon-lx-chat-bubble-dual"></span>Chat room:

                                <span ng-show="!videoSignalingObject.remoteUserId">Waiting for someone to join ... </span>
                                <span ng-show="videoSignalingObject.remoteUserName!=videoSignalingObject.remoteUserId">{{ videoSignalingObject.remoteUserName }} has joined</span>
                                <span ng-show="videoSignalingObject.remoteUserId && videoSignalingObject.remoteUserName==videoSignalingObject.remoteUserId">Guest has joined</span>

                            </div>
                            <div class="panel-body">


                                                        <!--<div class="row cl-chat-row">-->
                                                            <!--<div class="col-xs-9 col-md-10 "  style="position:relative">-->
                                                                <!--<div class="popover right" style="display:inline-block">-->
                                                                    <!--<div class="arrow"></div>-->
                                                                    <!--<div class="popover-inner">-->

                                                                        <!--<div class="popover-content">-->
                                                                   <!--Popover Content blah abdasfs afdsj klfsdajdfskl jfdskldfs ajkldfsa jkl-->
                                                                   <!--Popover Content blah abdasfs afdsj klfsdajdfskl jfdskldfs ajkldfsa jkl-->

                                                                        <!--</div>-->
                                                                    <!--</div>-->

                                                                <!--</div>-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                        <!--<div class="cl-chat-divider"></div>-->


                                                        <div class="row cl-chat-row">
                                                            <!--<div class="col-xs-3 col-md-2 text-left">-->
                                                                <!--<span class="icon-lx-chat-bubble-left-cfg clearfix"></span>-->
                                                                <!--<small class="text-muted clearfix"><span class="icon-lx-time"></span>24:05</small>-->
                                                            <!--</div>-->
                                                            <div class="col-xs-12 chat-body">
                                                                <div class="bubble">
                                                                <!--<p>-->
                                                                    Lorem ipsum dolor sit
                                                                <!--</p>-->
                                                                </div>
                                                            </div>

                                                            <div class="col-xs-12 chat-body text-right">
                                                                <div class="bubble-wrap">
                                                                <div class="bubble bubble-right">


                                                                <!--<p>-->
                                                                    X
                                                                <!--</p>-->
                                                                </div>
                                                                </div>
                                                                <div class="bubble-right-arrow"></div>

                                                            </div>
                                                        </div>
                                                        <div class="cl-chat-divider"></div>
                                                        <div class="row cl-chat-row">

                                                            <div class="col-xs-9 col-md-10 chat-body text-left">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, c.fa dfsdsfa dfsa fdsaf dsaffd
                                                                </p>
                                                            </div>

                                                            <div class="col-xs-3 col-md-2 text-right">
                                                                <span class="icon-lx-chat-bubble-right-cfg"></span>
                                                                <small class="text-muted clearfix"><span class="icon-lx-time"></span>12:15</small>
                                                            </div>
                                                        </div>
                                                        <div class="cl-chat-divider"></div>
                                <div lx-show-chat-messages-directive></div>
                                <a id="id-chatbox-scroll-anchor"></a>
                             </div>
                            <div class="panel-footer">
                                <form name="sendMessageForm" role="form" novalidate>
                                    <div class="input-group">
                                        <input class="form-control input-sm"
                                               name="messageInputElem"
                                               placeholder="Type your message here..."
                                               ng-model="inputMessageString"
                                               maxlength="{{ maxMsgLength }}"
                                               ng-click="scrollToChatboxScrollAnchor()"
                                               required
                                                />



                                        <span class="input-group-btn">
                                            <button ng-click="sendChatMessageFn()"
                                                    class="btn btn-primary btn-sm"
                                                    ng-disabled="sendMessageForm.$invalid">
                                                Send
                                            </button>
                                        </span>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endraw %}