

{% raw %}

<!-- Unsupported operating system message -->
<script type="text/ng-template" id="lx-template-cache/ios-is-not-supported-modal.html">
    <div class="modal-header">
       <h3 class="modal-title">iPad, iPhone, and iPod are not supported :-(</h3>
    </div>
{% endraw %}
    <div class="modal-body">
        Most of the video functionality of this site will not work correctly on your device.
        Please try accessing {{ site_name }} from an Android device or a desktop computer.
    </div>
{% raw %}
    <div class="modal-footer">
       <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>

<!-- Unsupported browser message -->
<script type="text/ng-template" id="lx-template-cache/browser-is-not-supported-modal.html">
    <div class="modal-header">
       <h3 class="modal-title">Your browser is not supported!</h3>
    </div>
{% endraw %}
    <div class="modal-body">
        Your browser is does not support the video functionality required to use the main features of {{ site_name }}.
        Please try using
        <a href="https://www.google.com/chrome/browser/" target="_blank">Chrome</a>,
        <a href="https://www.mozilla.org/firefox/new"  target="_blank">Firefox</a>, or
        <a href="http://www.opera.com"  target="_blank">Opera</a>.
    </div>
{% raw %}
    <div class="modal-footer">
       <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>

<!-- Unsupported browser version (browser type is OK, but it is out-of-date) -->
<script type="text/ng-template" id="lx-template-cache/browser-version-is-not-supported-modal.html">
    <div class="modal-header">
       <h3 class="modal-title">Your browser is out of date!</h3>
    </div>
{$ endraw %}
    <div class="modal-body">
        Please upgrade your browser to a newer version in order to use the functionality of {{ site_name }}.
    </div>
{% raw %}
    <div class="modal-footer">
       <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>

{% endraw %}