

.cl-mini-video-absolute-row {
  width: 100%;
  position: absolute;
  bottom: $mini-video-bottom-offset;
  z-index: $video-wrapper-zindex;
  height: nth($mini-video-row-heights-list, 1);
  @for $idx from 1 through length($viewport-widths-list) {
    @media (min-width: nth($viewport-widths-list, $idx)) and (min-height: nth($viewport-heights-list, $idx)) {
      height: nth($mini-video-row-heights-list, $idx);
    }
  }
}

.cl-mini-video-wrapper-div {
  background: #000;
  border: 1px solid $standard-border-color;
  position: relative;
  z-index: $video-wrapper-zindex;
  text-align: center;
}

.cl-main-video-bottom-offset-div {
  opacity: 1;
  position: absolute;
  width: 100%;
  background: transparent;
  z-index: $video-wrapper-zindex;
  text-align: center;
  bottom: nth($mini-video-heights-list, 1);
  @for $idx from 1 through length($viewport-widths-list) {
    @media (min-width: nth($viewport-widths-list, $idx)) and (min-height: nth($viewport-heights-list, $idx)) {
      bottom: nth($mini-video-heights-list, $idx);
    }
  }
}

.cl-bring-main-video-wrapper-to-front-div {
  z-index: $video-wrapper-in-front-zindex;
}

.cl-main-video-wrapper-box-shadow-overlay {
  z-index: $video-wrapper-box-shadow-overlay-zindex;
  @include box-shadow(inset 0px 0px 6px 2px $chat-panel-body-background);
}

.cl-bring-main-video-wrapper-to-front-box-shadow-overlay {
  z-index: $video-wrapper-in-front-box-shadow-overlay-zindex;
}

.cl-video {
  opacity: 1;
  display: block; // remove 5 px gap at bottom
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.cl-mini-video-sizing {
  box-sizing: border-box;
  width: nth($mini-video-widths-list, 1);
  height: nth($mini-video-heights-list, 1);
  @for $idx from 1 through length($viewport-widths-list) {
    @media (min-width: nth($viewport-widths-list, $idx)) and (min-height: nth($viewport-heights-list, $idx)) {
      width: nth($mini-video-widths-list, $idx);
      height: nth($mini-video-heights-list, $idx);
    }
  }
}

.cl-video-sizing {
  box-sizing: border-box;
  width: nth($video-widths-list, 1);
  height: nth($video-heights-list, 1);
  @for $idx from 1 through length($viewport-widths-list) {
    @media (min-width: nth($viewport-widths-list, $idx)) and (min-height: nth($viewport-heights-list, $idx)) {
      width: nth($video-widths-list, $idx);
      height: nth($video-heights-list, $idx);
    }
  }
}



.cl-mini-video-wrapper-div:hover {
  cursor: pointer;
}

%cl-overlay-common {
  box-sizing: border-box;
  position: absolute;
}


$video-control-button-padding: 3px 5px;
$text-overlay-opacity: 0.6;
$button-overlay-opacity: 0.85;
$username-overlay-height: 20px;
$overlay-buttons-col-padding: 2px;
$hangup-button-space: 35px;

.cl-text-shadow {
  text-shadow: 2px 0px 6px white, -2px 0px 6px white, 0px 2px 6px white, 0px -2px 6px white;
}


.cl-selected-icon-status-overlay {
  @extend %cl-overlay-common;
  padding: 5px;
  top: 0px;
  right: 0;
  left: 0px;
  text-align: right;
  z-index: $video-wrapper-zindex + 5;
  white-space: nowrap;
  opacity: $button-overlay-opacity;
}

.cl-selected-icon-status-overlay.cl-status-beside-hangup-overlay {
  right: $hangup-button-space;
}

.cl-video-buttons-overlay {
  @extend %cl-overlay-common;
  top: 0;
  left: 0;
  width: 100px;
  padding: $overlay-buttons-col-padding;
  z-index: $video-wrapper-zindex + 6;
  opacity: $button-overlay-opacity;
  text-align: left;
}

div.cl-video-text-overlay {
  // place the text over top of
  z-index: $video-wrapper-zindex + 5;
}

.cl-video-buttons-overlay.cl-hangup-button-overlay {
  text-align: right;
  left: auto;
  right: 0;
}

.cl-video-control-button {
  margin: 0px 2px 0x 2px;
  padding: $video-control-button-padding;
}

.cl-video-status-icon
{
  color: $brand-danger;
  padding: $video-control-button-padding;
  line-height: 1.5;
  font-size: 12px;
}

.cl-video-inside-chat-panel {
  position: absolute;
  top: $chat-panel-heading-height;
  height: nth($chat-panel-body-height-list, 1);
  @for $idx from 1 through length($viewport-heights-list) {
    @media (min-height: nth($viewport-heights-list, $idx)) {
      height: nth($chat-panel-body-height-list, $idx);
    }
  }

  width: nth($content-widths-list, 1);
  @for $idx from 1 through length($viewport-widths-list) {
    @media (min-width: nth($viewport-widths-list, $idx)) {
      width: nth($content-widths-list, $idx);
    }
  }
}

