


.navbar.cl-navbar {
  min-height: none;
  border-radius: 4px;
  text-align: center;
}

.navbar-nav.cl-navbar-nav {
  margin: 0;
  float: none;
  display: inline-block;
  & > li {
    float: left; // override default behaviour, which stacks navbar on small screens.

    & > a {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}


.cl-menu-button {
  position: relative;
  vertical-align: middle;
  padding: 2px 2px;
  height: 32px;
  min-width: 32px;
  box-sizing: border-box;
  line-height: 1;
}

// Bars
.cl-icon-bar {
  background-color: $gray-dark;
  display: block;
  width: 22px;
  margin: 0px 5px 0px 5px;
  height: 2px;
  border-radius: 1px;
}
.cl-icon-bar + .cl-icon-bar {
  margin-top: 4px;
}

.cl-notification-panel {
  border: 1px solid $notification-panel-border-color;
  margin: 0px;
  @include box-shadow(0 8px 14px rgba(0,0,0,.175));
}

.cl-notification-panel-attention {
  &:hover {
    cursor: pointer;
  }
}

.cl-notification-panel-body {
  height: $notification-panel-body-height;
  box-sizing: border-box;

  padding: 0px 15px 0px 15px;
  overflow-y: auto;

  background: $chat-notification-body-background;

  & button {
    padding: 2px 4px 2px 4px;
  }
}

.cl-panel-heading-behind-notification-nav-tabs {
 background-color: $notification-panel-header-background !important;
  padding: 2px 2px 0px 2px !important;
  border-bottom: none !important;

  & > .nav > li > a {
    height: 47px;
    box-sizing: border-box;
    background-color: $gray-lighter;
    border-color: $notification-panel-header-background;
    &:hover {
      background-color: $chat-notification-body-background;
      cursor: pointer;
    }
  }

  & > .nav > li.active > a {
    color: black;
    background-color: $chat-notification-body-background;
    border-color: $chat-notification-body-background;
    &:hover {
      cursor: default;
    }
  }
}

.nav-tabs.cl-notifications-nav-tabs {
  border-bottom: 1px solid $notification-panel-header-background !important;;
}