
/* NOTE: Any classes that extend icons *must* start with "icon-lx" - see the _styles.scss file for the
         associated selectors */


// The following will contain the video camera and the "x" together - used for positioning
// of the camera and the "x" icons relative to each other.
.cl-camera-access-denied-wrapper-cfg {
  vertical-align: middle;
  display:inline-block;
  position:relative;
  height: 1em;
  width: 1.5em
}

// The video camera icon
.icon-lx-vid-cam-line-cfg {
  color:#888888;
  position:absolute;
  bottom: -0.15em;
  font-size:1.5em;
  @extend .icon-lx-vid-cam-line;
}

// The "x" that will be placed over the video camera icon
.icon-lx-close-over-vid-cam-line-cfg {
  color: $deep-red;
  position:absolute;
  left:0.9em;
  bottom: -0.4em;
  font-size:0.7em;
  @extend .icon-lx-close;
}

.cl-lx-call-control-wrapper-cfg {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 1em;
  width: 1em;
}


%call-control-icon-common {
  position: absolute;
  font-size: 2em;
  bottom: 0em;

}

// Hangup phone icon
.icon-lx-phone-hang-up-cfg {
  color: $deep-red;
  left: 50%;
  top: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em; //relative to the new font-size of 3em
  @extend %call-control-icon-common;
  @extend .icon-lx-phone-hang-up;
}

.icon-lx-microphone-cfg {
  left: 50%;
  top: 50%;
  margin-top: -0.5em;
  margin-left: -0.3em; //relative to the new font-size of 3em
  @extend %call-control-icon-common;
  @extend .icon-lx-microphone;
}

.icon-lx-vid-cam-filled-cfg {
  left: 50%;
  top: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em; //relative to the new font-size of 3em
  @extend %call-control-icon-common;
  @extend .icon-lx-vid-cam-filled;
}

