


$mini-video-width-percentage : 30%;

$video-aspect-ratio : 3/4;
$characters-per-row : 80;
$video-wrapper-zindex: 10;

.cl-video-wrapper-div {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  z-index: $video-wrapper-zindex;
}

@mixin generate-video-sizing() {
  @for $idx from 2 through length($viewport-widths-list) {
    @media (min-width: nth($viewport-widths-list, $idx)) {
      width: nth($video-widths-list, $idx);
      height: nth($video-widths-list, $idx) * $video-aspect-ratio;
    }
  }
}

.cl-video-sizing {
  box-sizing: border-box;
  width: nth($video-widths-list, 1);
  height: nth($video-widths-list, 1) * $video-aspect-ratio;
  border: 1px solid $standard-border-color;
  @include generate-video-sizing();
}

video {
  opacity: 1;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  display: block; // remove 5 px gap at bottom
}


.cl-text-outline
{
  font-size: 1.5em;
  color: white;
  background: black;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
}


.cl-user-feedback-inside-video-wrapper {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: 0px;
  text-align: right;
  z-index: $video-wrapper-zindex + 3;
  opacity: 0.6;
}


.cl-video-overlay {
  background: black;
  box-sizing: border-box;
  position: absolute;
  font-size: 1.5em;
  border-left: 1px solid $standard-border-color;
  border-right: 1px solid $standard-border-color;
  padding: 10px;
  z-index: $video-wrapper-zindex + 2;
  opacity: 0.7;
}

@mixin generate-video-overlay-text-mixin {
  @for $idx from 2 through length($viewport-widths-list) {
    @media (min-width: nth($viewport-widths-list, $idx)) {
      font-size: nth($video-text-overlay-font-size-list, $idx);
    }
  }
}

.cl-video-overlay-text {
  color: white;
  font-size: nth($video-text-overlay-font-size-list, 1);
  @include generate-video-overlay-text-mixin();
}


$lighten-link-color: lighten($link-color, 15%) !default;

.cl-video-overlay-text a:hover {
  text-decoration: none;
  color:  $lighten-link-color;
}