$slide-main-menu-duration: 0.4s;

$title-row-height: 32px;

$xs-container-margin: 2px;

$deep-red : #ff0000;

$brand-primary-lighter: #daf6fd;
$brand-danger-lighter: #fee;
$gray-light-more: mix($gray-light, $gray-lighter, 50%) !default;
$gray-lighter-more: mix($gray-lighter, #FFF, 50%) !default;

$brand-primary-little-darker: darken($brand-primary, 7.5%) !default;
$brand-primary-darker: darken($brand-primary, 15%) !default;

$main-control-background: $gray-light-more;
$main-control-hover-background: $gray-dark;
$main-control-color: black;
$main-control-hover-color: white;
$main-control-border-color: $gray;

$notification-panel-border-color: $gray-light;
$notification-panel-header-background: $gray;
$chat-notification-body-background: $gray-light-more;

$chat-panel-body-background: black;

$btn-gray-border: $gray-light;
$btn-gray-bg: $gray-light-more;

$btn-gray-light-border: $gray-light-more;
$btn-gray-light-bg: $gray-lighter;

$bubble-left-background: $brand-primary-lighter;
$bubble-right-background: $gray-lighter;

$panel-waiting-text: white !default;
$panel-waiting-bg: $brand-danger !default;
$panel-waiting-border: $standard-border-color !default;
$panel-waiting-heading-bg: $brand-danger;

$lighten-link-color: lighten($link-color, 15%) !default;

$chat-panel-heading-height: 50px;
$chat-panel-footer-height: 50px;
$sticky-footer-height: $chat-panel-heading-height;

$chat-groups-members-margin: 15px;

$vertical-spacing-between-major-sections: 2px;


$video-wrapper-zindex: 10;
$video-wrapper-box-shadow-overlay-zindex: 11;
$chat-bubble-zindex: 12;

// $estimated-bubble-height is used for computing the offset required in the first div to push the first
// message to the bottom of the chat panel.
$estimated-bubble-height: 30px;



/* The following section defines the width of the video elements for various viewport sizes. */

$scrollbar-width: 18px; // this is an assumption, and can vary between browsers

$viewports-xs-list: 160px, 200px, 240px, 280px, 320px, 360px, 400px, 440px, 480px, 520px, 560px, 600px, 640px, 680px, 720px;
$viewports-standard-sizes-list: $screen-sm, $screen-md, $screen-lg;
$viewport-widths-list: join($viewports-xs-list, $viewports-standard-sizes-list);

// Compute the "content" width, which is the width of the area inside the chat panel.
// Note: we subract 2x because there may be a scrollbar on the broswer, and then another in the panel.
$chat-panel-name-size: ();
$content-widths-list: ();
@each $viewport-width in $viewports-xs-list {
  $content-widths-list: append($content-widths-list, $viewport-width - $xs-container-margin - 2 * $scrollbar-width);
  $chat-panel-name-size: append($chat-panel-name-size, 1em);
}

$content-widths-list: join($content-widths-list, ($container-sm - $scrollbar-width, $container-md - $scrollbar-width, $container-lg - $scrollbar-width));
$chat-panel-name-size: join($chat-panel-name-size, (1.5em, 2em, 2em));

$video-aspect-ratio : 3/4;
// setup the video window sizes that are associated with the viewport sizes.
$video-widths-list: ();
$mini-video-heights-list: ();
@each $video-width in $content-widths-list {
  $video-widths-list: append($video-widths-list, $video-width);
  $mini-video-height: $video-width / 6 * $video-aspect-ratio;
  $mini-video-heights-list: append($mini-video-heights-list, $mini-video-height);
}
@debug $mini-video-heights-list;

// since we are using an absolute div to contain the chat panel, we need to compute how tall the panel can be so that
// it does not overflow the bottom of the div. Subtract 2px for outer panel border.
$panel-border-compensation: 2px;

$viewport-heights-list: ();
@for $idx from 1 through length($video-widths-list) {
  $video-width: nth($video-widths-list, $idx);
  $mini-video-height: nth($mini-video-heights-list, $idx);
  $viewport-heights-list: append($viewport-heights-list, $video-width * $video-aspect-ratio + $title-row-height +
                                 $chat-panel-heading-height +  $chat-panel-footer-height + 1.5*$sticky-footer-height +
                                 $mini-video-height + $panel-border-compensation);
}

$chat-panel-body-height-list: ();
$common-display-area-height-list: ();
$notification-panel-body-height-list: ();

@for $idx from 1 through length($viewport-heights-list) {
  $common-display-area-height-list: append($common-display-area-height-list, nth($viewport-heights-list, $idx) -
                                           2*$sticky-footer-height -  nth($mini-video-heights-list, $idx));
  $chat-panel-body-height-list: append($chat-panel-body-height-list, nth($common-display-area-height-list, $idx) -
                                       $chat-panel-heading-height - $chat-panel-footer-height - $panel-border-compensation);
  $notification-panel-body-height-list: append($notification-panel-body-height-list,
                                               nth($chat-panel-body-height-list, $idx) + $chat-panel-footer-height);
}

