

.cl-chat-row {
  color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
  padding: 0px 15px 0px 15px;
  overflow-y: scroll;
  height: 200px;
}


.bubble {
  display: block;
  position: relative;
  padding: 0px 5px 0px 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: $gray-light solid 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  z-index: 0;
}

.bubble-left {
  float: left;
  text-align: left;
  background: $gray-lighter;
}

.bubble-right {
  float: right;
  text-align: left;
  background: $primary-lighter;
}

/* The bubble arrows are made by overlaying two triangles on top of each other. The first is a dark color, and the
   second is a light color. The part of the dark triangle that is visible is the "border" of the triangle, and the
   part of the triangle that is light is the "content" of the chat bubble.

   The bubble arrow is attached to an <i> element that must be placed inside the bubble div.
   eg: <div class="bubble bubble-right"><i></i>text goes here</div>  -- the selection of <i> is arbitrary and
   can be changed to another tag if necessary by modifying the css and html. */

// the dark part of the "arrow"
%bubble-arrow-common {
  vertical-align: top;
  position: absolute;
  display: block;
  top: 6px;
  border-style: solid;
}

// the dark part of the "arrow" on the left side of the bubble
.bubble-left>i {
  left: -10px;
  border-width: 5px 10px 5px 0;
  border-color: transparent $gray-light transparent transparent;
  z-index: 1;
  @extend %bubble-arrow-common;
}

// the dark part of the right arrow on the right side of the chat bubble
.bubble-right>i {
  left: 100%;
  border-width: 5px 0px 5px 10px;
  border-color: transparent transparent transparent $gray-light;
  z-index: 1;
  @extend %bubble-arrow-common;
}

// the light part of the "arrow"
%arrow-overlay-common {
  content: "";
  position: absolute;
  top: -5px;
  border-style: solid;
  display: block;
  width: 0;
}

// the light part of the "arrow" on the left side of the bubble
// :after is treated as the last child of .bubble-left-arrow
.bubble-left>i:after {
  left: 2px;
  border-width: 5px 10px 5px 0;
  border-color: transparent $gray-lighter transparent transparent;
  z-index: 2;
  @extend %arrow-overlay-common;
}

// the light part of the right arrow on the right side of the chat bubble
// :after is treated as the last child of .bubble-right-arrow
.bubble-right>i:after {
  left: -12px;
  border-width: 5px 0px 5px 10px;
  border-color: transparent  transparent transparent $primary-lighter;
  z-index: 2;
  @extend %arrow-overlay-common;
}

.cl-chat-time-display {
  //display: inline-block;
  font-size: 65%;
  vertical-align: sub;
  //float: right;
}


.cl-fade-in-chat-bubble-element {
  opacity:0.5;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.cl-fade-in-chat-bubble-element.cl-show-new-chat-bubble-element {
  opacity: 1;
}

.cl-flash-chat-heading {
  opacity:0.5;
}

