


$mini-video-width-percentage : 30%;

$video-aspect-ratio : 3/4;
$characters-per-row : 80;
$video-wrapper-zindex: 10;

.cl-video-wrapper-div {
  background: #000;
  margin-bottom: 10px;
  border: 1px solid $standard-border-color;
  position: relative;
  z-index: $video-wrapper-zindex;
  width: 100%;
  height: 100%;
  text-align: center;
}

video {
  opacity: 1;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  display: block; // remove 5 px gap at bottom
  width: 100%;
}


.cl-text-outline
{
  font-size: 1.5em;
  color: white;
  background: black;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
}


.cl-button-status-overlay {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: 0px;
  text-align: right;
  z-index: $video-wrapper-zindex + 3;
  opacity: 0.6;
}

.cl-video-buttons-overlay {
  background: black;
  box-sizing: border-box;
  position: absolute;
  font-size: 1.5em;
  padding: 10px;
  z-index: $video-wrapper-zindex + 1;
  opacity: 0.7;
}

.cl-video-exchange-info-overlay {
  background: black;
  box-sizing: border-box;
  position: absolute;
  font-size: 1.5em;
  padding: 10px;
  z-index: $video-wrapper-zindex + 2;
  opacity: 0.7;
}

@mixin generate-video-overlay-text-mixin {
  font-size: nth($video-text-overlay-font-size-list, 1);
  @for $idx from 1 through length($viewport-widths-list) {
    @media (min-width: nth($viewport-widths-list, $idx)) {
      font-size: nth($video-text-overlay-font-size-list, $idx);
    }
  }
}

.cl-video-exchange-info-overlay-text {
  color: white;
  @include generate-video-overlay-text-mixin();
}


$lighten-link-color: lighten($link-color, 15%) !default;

.cl-video-exchange-info-overlay-text a:hover {
  text-decoration: none;
  color:  $lighten-link-color;
}