
$deep-red : #ff0000;
$btn-gray-bg: #c0c0c0;
$primary-lighter: lighten($brand-primary, 55%);


/* The following section defines the width of the video elements for various viewport sizes.
   note that for sm and larger devices, two video elements are shown side-by-side. This means that
   we also have to account for two gutter widths (1/2 on left and right side of screen, and 1 between
   the video elements */

$scrollbar-width: 18px; // this is an assumption, and can vary between browsers

/* Small devices (tablets, 768px and up) */
$sm-vid-width: ($container-sm - $grid-gutter-width * 2) / 2;

/* Medium devices (desktops, 992px and up) */
$md-vid-width: ($container-md - $grid-gutter-width * 2) / 2;

/* Large devices (large desktops, 1200px and up) */
$lg-vid-width : ($container-lg - $grid-gutter-width *2) / 2;

// these are some of the more common viewport sizes for mobile browsers.
$xs-viewport-sizes-list: 320px, 360px, 400px, 480px, 600px;

// setup the video window sizes that are associated with the above viewport sizes.
$xs-video-sizes-list: ();
@each $viewport-size in $xs-viewport-sizes-list {
  $video-size: $viewport-size - $scrollbar-width;
  $xs-video-sizes-list: append($xs-video-sizes-list, $video-size);
}

// As the viewport size changes, we change the size of the video windows. Also, once the size
// gets through sm or larger, we place two windows side-by-side instead of one embedded inside the other.
$viewport-sizes-list: join($xs-viewport-sizes-list, ($screen-sm-min, $screen-md-min, $screen-lg-min));

// Take into account if there is only a single video window, or if there are two windows side-by-side
$video-sizes-list: join($xs-video-sizes-list, ($sm-vid-width, $md-vid-width, $lg-vid-width));

// This list takes into account the total width of the video elements, and can be used for matching
// other elements to the exact width required by the video elements.
$video-column-width-list: join($xs-video-sizes-list, ($container-sm - $grid-gutter-width, $container-md - $grid-gutter-width, $container-lg - $grid-gutter-width));