
.cl-logo-margin {
  margin-top: 8px;
}
/* no-xs-padding/no-xs-margins are used to remove the padding/margin from xs devices. This
   allows us to fully use the screen space for content as opposed to whitespace */
.cl-container-no-xs-padding {
  @media(max-width: $screen-xs-max) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.cl-row-no-xs-margins {
  @media(max-width: $screen-xs-max) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.cl-col-no-xs-padding {
  @media(max-width: $screen-xs-max) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.cl-panel-xs-margin {
    @media(max-width: $screen-xs-max) {
      margin-bottom: 5px;
    }
}

.cl-my-well {
  background-color: #000; // previously #f5f5f5;
  display:inline-block;
  vertical-align: top;

}

.cl-mini-well {
  background-color: #000; // #f5f5f5;
  border: 2px solid #e3e3d3;
}

.cl-hide-on-larger-than-xs {
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.cl-navbar-video-overlay {
  box-sizing: border-box;
  position: absolute;
  font-size: 1.5em;
  opacity: 0.7;
  border-left: 1px solid $standard-border-color;
  border-right: 1px solid $standard-border-color;
  border-bottom: 0px;
  border-top: 0px;
}

.cl-show-hide-fade {
  -webkit-transition:all linear 0.5s;
  -moz-transition: linear all 0.5s;
  transition:all linear 0.5s;
}

.cl-show-hide-fade.ng-hide-add, .cl-show-hide-fade.ng-hide-remove {
  display: block!important;
}

.cl-show-hide-fade.ng-hide {
  opacity:0;
}

.cl-room-name-input {
  max-width: $screen-xs-max;
}

.cl-xs-max-width {
  max-width: $screen-xs-max;
}

.cl-sm-max-width {
  max-width: $screen-sm-max;
}

.cl-md-max-width {
  max-width: $screen-md-max;
}


@mixin my-mixin-border-glow($color, $opacity, $shadow-size-multiplier:1) {
  border-color: rgba($color, $opacity);
  outline: 0;

  $faded-opacity : $opacity * 0.5 ;
  $color-rgba : rgba($color,  $faded-opacity );
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px*$shadow-size-multiplier $color-rgba);
}

.cl-invalid-input-glow {
  @include my-mixin-border-glow($brand-danger, 0.5);
}

.cl-invalid-input-glow:focus {
  @include my-mixin-border-glow($brand-danger, 1)
}

.cl-warning-input-glow:focus {
  @include my-mixin-border-glow($brand-warning,  1)
}

.cl-valid-input-glow:focus {
  @include my-mixin-border-glow($brand-success,  1)
}

.cl-primary-color-glow {
   @include my-mixin-border-glow($brand-primary,  1)
}

.cl-feedback-on-input-validity-div {
  min-height: 20px
}



@mixin generate-match-video-column-sizing() {
  @for $idx from 2 through length($viewport-widths-list) {
    @media (min-width: nth($viewport-widths-list, $idx)) {
      width: nth($video-column-width-list, $idx);
    }
  }
}

.cl-match-element-to-video-sizing {
  box-sizing: border-box;
  width: nth($video-column-width-list, 1);

  @include generate-match-video-column-sizing();
}


$fast-easing-delay: 0.35s;

$transition-opacity-and-background-color: opacity $fast-easing-delay ease,  background-color $fast-easing-delay ease;
.cl-transition-opacity-and-background-color {
  -webkit-transition: $transition-opacity-and-background-color;
  -moz-transition: $transition-opacity-and-background-color;
  -ms-transition: $transition-opacity-and-background-color;
  -o-transition: $transition-opacity-and-background-color;
  transition: $transition-opacity-and-background-color;
}

$transition-border: border $fast-easing-delay ease;
.cl-transition-border {
  -webkit-transition: $transition-border;
  -moz-transition: $transition-border;
  -ms-transition: $transition-border;
  -o-transition: $transition-border;
  transition: $transition-border;
}

.cl-text-danger {
  color: $brand-danger;
}

.panel-waiting {
  @include panel-variant($panel-waiting-border, $panel-waiting-text, $panel-waiting-heading-bg, $panel-waiting-border);
}


//.navbar-inverse .cl-navbar-text-danger {
//  color: $brand-danger;
//}

@mixin generate-navbar-text-size-mixin {
  @for $idx from 2 through length($viewport-widths-list) {
    @media (min-width: nth($viewport-widths-list, $idx)) {
      font-size: nth($video-navbar-text-overlay-font-size-list, $idx);
    }
  }
}

.cl-navbar-text-size {
  font-size: nth($video-navbar-text-overlay-font-size-list, 1);
  @include generate-navbar-text-size-mixin();
}


.cl-text-size-1_5em {
  font-size: 1.5em;
}

.cl-text-size-2_0em {
  font-size: 2em;
}
