

.cl-main-control-menu {
  height: $sliding-display-area-height;
  width: 100%;
  padding: 0;
  margin: 0; // override default ul
  min-width: 0px;
  background: $main-control-background;
  border: 1px solid $main-control-border-color;

  & .btn-default, & .btn-default.dropdown-toggle, & li, & li>a {
    background: $main-control-background;
    color: $main-control-color;
    text-align: left;


    &:hover, &:active, &:focus {
      background: $main-control-hover-background;
      color: $main-control-hover-color;
    }
  }

  & ul {
    background: $main-control-background;
    color: $main-control-color;
  }
}

.cl-animate-main-control-menu {
  left: 0;
  z-index: $zindex-dropdown + 10;

  &.ng-enter {
    animation: slideInLeft $slide-main-menu-duration;
  }
  &.ng-leave {
    animation: slideOutLeft $slide-main-menu-duration;
  }
}

.cl-animate-main-notification-menu {
  right: 0;
  z-index: $zindex-dropdown + 10;

  &.ng-enter {
    animation: slideInRight $slide-main-menu-duration;
  }
  &.ng-leave {
    animation: slideOutRight $slide-main-menu-duration;
  }
}


.cl-transition-opacity {
  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

  &.ng-enter, &.ng-leave {
    -webkit-transition: opacity;
    -moz-transition: opacity;
    -ms-transition: opacity;
    -o-transition: opacity;
    transition: opacity;
    transition-duration: $slide-main-menu-duration;
  }
}

.cl-transition-margins-and-width {
  -webkit-transition: margin width;
  -moz-transition: margin width;
  -ms-transition: margin width;
  -o-transition: margin width;
  transition: margin width;
  transition-duration: $slide-main-menu-duration;
}
// cl-sliding-div is used for the divs that are animated in and out of the cl-sliding-display-area-wrapper div
.cl-main-ng-view-area-div {
  position: absolute;
  top: 0;
}

// This class is applied dynamically when the main control menu is shown, and is used for moving the left margin
// further to the left (to go over top of the gutter), which is necessary if we wish for the  main control
//menu to butt up against the chatbox.
.cl-pull-inner-view-area-margin-left {
  margin-left: -$grid-gutter-width;

  @media(max-width: $screen-xs-max) {
    margin-left: -$xs-padding-override * 2;
  }
}

.cl-title-row-top-bottom-margin {
  margin-top: 4px;
  margin-bottom: 4px;
}

.cl-no-left-or-right-padding {
    padding-left: 0px;
    padding-right: 0px;
}

/* no-xs-padding/no-xs-margins are used to remove the padding/margin from xs devices. This
   allows us to fully use the screen space for content as opposed to whitespace */
.cl-container-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.cl-row-no-margins {
  margin-left: 0px;
  margin-right: 0px;

}
/* Note: at first glance, it may appear that cl-row-no-xs-margins and cl-col-no-xs-padding serve no purpose,
   however, if they are not used, then the right side of the page will be extended by 15px with blank space
   to accommodate the standard bootstrap formatting that uses negative margin on rows to offset the padding
   that is added in the columns. Removing these classes will cause a bottom scrollbar to appear even though
   there is nothing shown to the right of the contents. */
.cl-row-no-xs-margins {
  @media(max-width: $screen-xs-max) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.cl-col-no-xs-padding {
  @media(max-width: $screen-xs-max) {
    padding-left: 0px;
    padding-right: 0px;
  }
}


.cl-col-xs-smaller-left-right-padding {
    @media(max-width: $screen-xs-max) {
      padding-left: $xs-padding-override;
      padding-right: $xs-padding-override;
    }
}

.cl-my-well {
  background-color: #000; // previously #f5f5f5;
  display:inline-block;
  vertical-align: top;

}

.cl-mini-well {
  background-color: #000; // #f5f5f5;
  border: 2px solid #e3e3d3;
}



.cl-room-name-input {
  max-width: $screen-xs-max;
}

.cl-xs-max-width {
  max-width: $screen-xs-max;
}

.cl-sm-max-width {
  max-width: $screen-sm-max;
}

.cl-md-max-width {
  max-width: $screen-md-max;
}


@mixin my-mixin-border-glow($color, $opacity, $shadow-size-multiplier:1) {
  border-color: rgba($color, $opacity);
  outline: 0;

  $faded-opacity : $opacity * 0.5 ;
  $color-rgba : rgba($color,  $faded-opacity );
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px*$shadow-size-multiplier $color-rgba);
}

.cl-invalid-input-glow {
  @include my-mixin-border-glow($brand-danger, 0.5);
}

.cl-invalid-input-glow:focus {
  @include my-mixin-border-glow($brand-danger, 1)
}

.cl-warning-input-glow:focus {
  @include my-mixin-border-glow($brand-warning,  1)
}

.cl-valid-input-glow:focus {
  @include my-mixin-border-glow($brand-success,  1)
}

.cl-primary-color-glow {
   @include my-mixin-border-glow($brand-primary,  1)
}

.cl-feedback-on-input-validity-div {
  min-height: 20px;
}


.cl-text-danger {
  color: $brand-danger;
}

.panel-waiting {
  @include panel-variant($panel-waiting-border, $panel-waiting-text, $panel-waiting-heading-bg, $panel-waiting-border);
}


.cl-text-size-1_5em {
  font-size: 1.5em;
}

.cl-text-size-2_0em {
  font-size: 2em;
}

.cl-main-ng-view-area-wrapper {
  position: relative;
  // Note $line-height-computed in the following calculation is the margin
  // at the bottom that is used in the bootstrap css panel definition.
  height: ($sliding-display-area-height + $line-height-computed);

  @media(max-width: $screen-xs-max) {
    height: $sliding-display-area-height + $line-height-computed/2;
  }
}

.cl-ng-view {
  position: absolute;
  width: 100%;
}

.cl-fade-in-main-view {
  &.ng-enter {
    animation: fadeIn $slide-main-menu-duration;
  }
}
.cl-fade-in-chatbox-view {
  &.ng-hide-add, &.ng-hide-remove {
    /* this is needed to override the "display: none !important" from ng-hide */
    display: block !important;
  }
  &.ng-hide {
    opacity: 0;
  }
  /**
   * we fade-in/fade-out accordingly, upon adding/removing the ng-hide class
   */
  &.ng-hide-remove {
    animation: $slide-main-menu-duration fadeIn;
    -webkit-animation: $slide-main-menu-duration fadeIn;
  }
}

.cl-hide-row-overflow {
  overflow: hidden;
}

.cl-xs-add-right-margin {
    @media(max-width: $screen-xs-max) {
      margin-right: $xs-padding-override;
    }
}

hr.cl-hr-in-chat-panel {
  border-top: 1px solid $gray-light-more;
  margin-top: 10px;
  margin-bottom: 10px;
}