
$deep-red : #ff0000;
$btn-gray-bg: #c0c0c0;
$brand-primary-lighter: #daf6fd;
$brand-danger-lighter: #fee;


$panel-waiting-text: white !default;
$panel-waiting-bg: $brand-danger !default;
$panel-waiting-border: $standard-border-color !default;
$panel-waiting-heading-bg: $brand-danger;

/* The following section defines the width of the video elements for various viewport sizes.
   note that for sm and larger devices, two video elements are shown side-by-side. This means that
   we also have to account for two gutter widths (1/2 on left and right side of screen, and 1 between
   the video elements */

$scrollbar-width: 12px; // this is an assumption, and can vary between browsers

$viewport-widths-list: 320px, 360px, 400px, 480px, 600px, $screen-sm, $screen-md, $screen-lg;

// We vary the font size of the text-overlay that is shown in a navbar on top of a video element.
$video-text-overlay-font-size-list: 0.4em, 0.6em, 0.7em, 0.8em, 0.9em, 1em, 1.5em, 2em;


$sliding-display-area-height: 300px;

$slide-main-menu-duration: 0.3s;