

// My color scheme - this overwrites the bootstrap defaults.
$brand-primary:         #046175 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #00b6dd !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #E75045 !default;

