$arrow-color: #E75045;
$arrow-triangle-width : 70px;
$arrow-triangle-height : 70px;
$arrow-stem-width : 20px;
$arrow-stem-height : 50px;

.cl-arrow-transition {
  /* These definitions are used from animating the addition and/or removal of css classes to an element */
  -webkit-transition:all linear 3s;
  -moz-transition: linear all 3s;
  transition:all linear 3s;
}

.cl-arrow-wrapper-mac-chrome {
  /* starts arrow out at a lower point, and uses css transitions to move the arrow up when
     the class .cl-show-arrow is added to an element */
  position: fixed;
  top: 100px;
  right : 15px;
  z-index: 50;
}

.cl-arrow-wrapper-mac-chrome.cl-show-arrow {
  /* when the cl-show-arrow class is added to an element, then if this browser supports css animations, the element
     will move from its current position, to a location "top"px pixels from the top of the screen */
  @extend .cl-arrow-transition;
  top: 3px;
}

.cl-arrow-wrapper-desktop-default-chrome {
  /* starts arrow out at a lower point, and uses css transitions to move the arrow up when
     the class .cl-show-arrow is added to an element */
  position: fixed;
  top: 100px;
  left : 3px;
  z-index: 50;
}

.cl-arrow-wrapper-desktop-default-chrome.cl-show-arrow {
  /* when the cl-show-arrow class is added to an element, then if this browser supports css animations, the element
     will move from its current position, to a location "top"px pixels from the top of the screen */
  @extend .cl-arrow-transition;
  top: 3px;
}


.cl-arrow-wrapper-mozilla {
  /* starts arrow out at a lower point, and uses css transitions to move the arrow up when
     the class .cl-show-arrow is added to an element */
  position: fixed;
  top: 400px;
  left : 15px;
  z-index: 50;
}

.cl-arrow-wrapper-mozilla.cl-show-arrow {
  /* when the cl-show-arrow class is added to an element, then if this browser supports css animations, the element
     will move from its current position, to a location "top"px pixels from the top of the screen */
  @extend .cl-arrow-transition;
  top: 3px;
}



.cl-arrow {
  /* This is a wrapper that contains the arrow head and the arrow stem. In order to declare an arrow, you must
   * define a '.cl-arrow' element that then contains an <i> tag followed by another <i> tag.
   * For example, the following will declare an arrow "<div class="cl-arrow""><i></i><i></i></div>".
   * It is done in this way because the triangle and the stem are unique shapes, each drawn with a separate
   * css declaration that are triggered by the <i> tags (perhaps there is a better way to do this?) */

  /* The cl-arrow class is initially hidden with an opacity of 0, until cl-show-arrow class is added to the element
   * at which point the arrow becomes visible */
  position: relative;
  width: $arrow-triangle-width;
  opacity: 0
}

.cl-arrow.cl-show-arrow {
  @extend .cl-arrow-transition;
}

.cl-arrow.cl-show-arrow {
  opacity: 1;
}

.cl-arrow i {
  // draw the triangle part of the arrow
  position: absolute;
  width: 0;
  height: 0;
  border-left: $arrow-triangle-width / 2 solid transparent;
  border-right: $arrow-triangle-width / 2 solid transparent;
  border-bottom: $arrow-triangle-height solid $arrow-color;
}
.cl-arrow i+i {
  // draw the arrow stem
  position: absolute;
  top: $arrow-triangle-height - 1px;
  left: $arrow-triangle-width / 2 - $arrow-stem-width / 2;
  width: $arrow-stem-width;
  height: $arrow-stem-height * 8;
  background: $arrow-color;
  border: 0px;
}

.cl-arrow.cl-show-arrow i+i {
  // only show the animation when we are adding the .cl-show-arrow class, not when it is removed
  @extend .cl-arrow-transition;

  // at the end of the animation, the arrow stem is shorter than at the beginning.
  height : $arrow-stem-height;
}

