

@import "./constants.scss";

$arrow-color: $brand-danger;
$arrow-triangle-width : 70px;
$arrow-triangle-height : 70px;
$arrow-stem-width : 20px;
$arrow-stem-height : 50px;

.cl-arrow-transition {
  /* These definitions are used from animating the addition and/or removal of css classes to an element */
  -webkit-transition:all linear 3s;
  -moz-transition: linear all 3s;
  transition:all linear 3s;
}


.cl-arrow {
  /* The cl-arrow class is initially hidden with an opacity of 0, until cl-show-arrow class is added to the element
   * at which point the arrow becomes visible */
  position: fixed;
  z-index: 1050; // this should place it above the modal window and it's background
  opacity: 0; // start out transparent
  color: $brand-danger;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  font-size: 8em;
}

.cl-arrow-mac-chrome {
  /* starts arrow out at a lower point, and uses css transitions to move the arrow up when
     the class .cl-show-arrow is added to an element */
  top: 100px;
  right : 15px;
}

.cl-arrow-mac-chrome.camera-access-was-denied {
  /* if the user has denied access to their camera, then we move the arrow to point to the camera icon instead
     of pointing to the allow button. */
  right: 50px;
}

.cl-arrow-desktop-default-chrome {
  /* starts arrow out at a lower point, and uses css transitions to move the arrow up when
     the class .cl-show-arrow is added to an element */
  top: 200px;
  left : 15px;
}

.cl-arrow-desktop-default-chrome.camera-access-was-denied {
  right: 15px;
  left: auto;

}

.cl-arrow-mozilla {
  /* Hides the arrow behind the firefox camera dialog box */
  font-size: 5em; // make it smaller so that it can hide behind the mozilla permissions popup.
  top: 100px;
  left : 25px;
}

.cl-arrow-opera {
  top: 100px;
  left : 110px;
}


.cl-show-arrow {
  /* Keep this below other arrow definitions so that it can override the position when it is added to an element.

     when the cl-show-arrow class is added to an element, then if this browser supports css animations, the element
     will move from its current position, to a location "top"px pixels from the top of the screen */

  @extend .cl-arrow-transition;
  top: 0px;
  opacity: 1; // end up being opaque
}

.cl-modal-override-position-lower > .modal-dialog {
  top: 200px;
}
