$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


a:link { color: #FFFFFF; }
a:visited {color: #FFFFFF; }
html, body {
  background-color: #FFFFFF;
  height: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}


#card-elem {
  -webkit-transition-duration: 2s;
  -webkit-transform-style: preserve-3d;
}
.cl-local-video-wrapper-div {
  //position: absolute;
  //transform: scale(-1, 1);
  //-webkit-transform: scale(-1, 1);
  //-webkit-backface-visibility: hidden;
}
#id-remote-video-wrapper-div {
  //position: absolute;
  //-webkit-transform: rotateY(180deg);
  //-webkit-backface-visibility: hidden;
  @media (max-width: $screen-xs-max) {
    // initially is hidden on xs devices until we receive a remote stream, at which point the local-wrapper-div will
    // be hidden and this div displayed.
    display: none;
  }
}

$xs-vid-width: 268px;
$sm-vid-width: 333px;
$md-vid-width: 443px;
$lg-vid-width : 553px;

$mini-video-width-percentage : 30%;

$video-aspect-ratio : 3/4;
$characters-per-row : 80;

.cl-video-sizing {
  /* Extra small devices (phones, less than 768px) */
  width: $xs-vid-width;
  height: $xs-vid-width * $video-aspect-ratio;

  /* Small devices (tablets, 768px and up) */
  @media (min-width: $screen-sm-min) {
    width: $sm-vid-width;
    height: $sm-vid-width * $video-aspect-ratio;
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    width: $md-vid-width;
    height: $md-vid-width * $video-aspect-ratio;
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: $screen-lg-min) {
    width: $lg-vid-width;
    height: $lg-vid-width * $video-aspect-ratio;
  }
}

.cl-video-normal-div {
  @extend .cl-video-sizing;
}


video {
  opacity: 1;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  display: block; // remove 5 px gap at bottom
}



#id-mini-video-div {
  position: absolute;
  height: $mini-video-width-percentage;
  width: $mini-video-width-percentage;
  top: 0px;
  left: 0px;
  opacity: 1.0;
  border: 1px solid  #f5f5f5;

  @media (min-width: $screen-sm-min) {
    // this mini-video is only intended for xs screens - hide for anything larger
    display: none;
  }
}

#id-mini-video-element {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
}

.cl-ascii-container {
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#id-local-ascii-container, #id-remote-ascii-container {
  @extend .cl-video-sizing;
  @extend .cl-ascii-container;
}

#id-local-mini-ascii-container {
  width: ($mini-video-width-percentage / 100%) * $xs-vid-width;
  height: ($mini-video-width-percentage / 100%) * $xs-vid-width * $video-aspect-ratio;
  @extend .cl-ascii-container;
}

.cl-ascii-drawing-text {
  font-family: 'Courier New', 'Courier', monospace;
  font-size: $xs-vid-width / $characters-per-row;
  line-height: $xs-vid-width / $characters-per-row;
  letter-spacing: -0.1em;
  display: inline-block;

  @media (min-width: $screen-sm-min) {
    font-size: $sm-vid-width / $characters-per-row;
    line-height: $sm-vid-width / $characters-per-row;
    letter-spacing: -0.1em;
  }

  @media (min-width: $screen-md-min) {
    font-size: $md-vid-width / $characters-per-row;
    line-height: $md-vid-width / $characters-per-row;
    letter-spacing: -0.18em;
  }

  @media (min-width: $screen-lg-min) {
    font-size: $lg-vid-width / $characters-per-row;
    line-height: $lg-vid-width / $characters-per-row;
    letter-spacing: -0.18em;
  }
}


#id-ascii-mini-span {
  // override the defaults for the mini-span
  font-size: ($mini-video-width-percentage / 100%) * ($xs-vid-width / $characters-per-row);
  line-height:($mini-video-width-percentage / 100%) * ($xs-vid-width / $characters-per-row);
  letter-spacing: -0.05em;
}

pre.cl-local-ascii-container {
  border: none;
  border-radius: 0px;
}

#id-info-div {
  position: fixed;
  width: 400px;
  margin-left: -200px;
  left: 50%;
  top: 25%;
  display: none;
  z-index: 10;
  background: #FFFFFF;
}

.cl-my-well {
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3d3;
}

.cl-hide-on-larger-than-xs {
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

#id-dummy-xs-div {
  // This is used by the javascript to determined the max width for xs screens.
  display: none;
  width: $screen-xs-max;
}