$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


a:link { color: #FFFFFF; }
a:visited {color: #FFFFFF; }
html, body {
  background-color: #FFFFFF;
  height: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}


#card-elem {
  -webkit-transition-duration: 2s;
  -webkit-transform-style: preserve-3d;
}
#local-div {
  //position: absolute;
  //transform: scale(-1, 1);
  //-webkit-transform: scale(-1, 1);
  //-webkit-backface-visibility: hidden;
}
#remote-div {
  //position: absolute;
  //-webkit-transform: rotateY(180deg);
  //-webkit-backface-visibility: hidden;
}

$xs-vid-width: 333px;
$sm-vid-width: 333px;
$md-vid-width: 443px;
$lg-vid-width : 543px;

.video-sizing {
  /* Extra small devices (phones, less than 768px) */
  width: $xs-vid-width;
  height: $xs-vid-width * 3/4;

  /* Small devices (tablets, 768px and up) */
  @media (min-width: $screen-sm-min) {
    width: $sm-vid-width;
    height: $sm-vid-width * 3/4;
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    width: $md-vid-width;
    height: $md-vid-width * 3/4;
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: $screen-lg-min) {
    width: $lg-vid-width;
    height: $lg-vid-width * 3/4;
  }
}

video {
  @extend .video-sizing;
  opacity: 1;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 1s;
  display: block; // remove 5 px gap at bottom
}

.light-gray-border {
  border: 1px solid #cccccc;
  background-color: whitesmoke;
}

#local-ascii-container, #remote-ascii-container {
  @extend .video-sizing;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}

.ascii-drawing-text {
  font-family: 'Courier New', 'Courier', monospace;
  font-size: 4px;
  line-height: 4px;
  letter-spacing: -0.6px;
  display: inline-block;
}

pre#local-ascii-container {
  border: none;
}

#info-div {
  position: fixed;
  width: 400px;
  margin-left: -200px;
  left: 50%;
  top: 25%;
  display: none;
  z-index: 10;
  background: #FFFFFF;
}

.my-well {
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3d3;
}