{% raw %}

<script type="text/ng-template" id="mini-video-template.html">
    <div class="cl-mini-video-div">

        <div class="cl-local-hd-mini-video-wrapper-div" ng-show="(videoSignalingObject.localIsSendingVideoType == 'hdVideo')">
            <div  style="display:inline-block" class="cl-mini-well">
                <video class="cl-mini-video-element" autoplay="autoplay" muted="true"/>
            </div>
        </div>

        <div lx-generate-ascii-video-directive class="cl-local-ascii-mini-video-wrapper-div" ng-show="(videoSignalingObject.localIsSendingVideoType == 'asciiVideo')" >
            <div  style="display:inline-block" class="cl-mini-well">
                <pre class="cl-ascii-container cl-mini-ascii-container-sizing"><span class="cl-ascii-drawing-text cl-ascii-mini-span">Local ascii drawing goes here</span></pre>
            </div>
        </div>
    </div>
</script>

<div class="container">

    <div class="row" id="id-videochat-logo">
        <div class="col-xs-7">
            <img class="img-responsive" src="images/videochathub.jpg"/>
        </div>
    </div>

    <div ng-controller="mainVideoCtrl">

        <div class="row">
            <div lx-video-container-directive>

                <div class="col-sm-6" id="id-local-video-wrapper-div">
                    <div class="text-center">
                        <div id="id-local-hd-video-wrapper-div" ng-show="(videoSignalingObject.localIsSendingVideoType == 'hdVideo')" >
                            <h4>Transmitting HD Video</h4>
                            <div style="display:inline-block" class="cl-my-well" >
                                <video class="cl-video-sizing" id="id-local-video-element" autoplay="autoplay" muted="true">You must update to a newer version of Chrome or Firefox to use video</video>
                            </div>
                        </div>

                        <div lx-generate-ascii-video-directive id="id-local-ascii-video-wrapper-div" ng-show="(videoSignalingObject.localIsSendingVideoType == 'asciiVideo')" >
                            <h4>Transmitting ASCII Video</h4>
                            <div class="cl-my-well" style="display:inline-block" >
                                <div style="position: relative">
                                    <!-- Do not move the span to a different line than the pre - the formatting will change if this is done since a blank will be added before the span. -->
                                    <pre class="cl-ascii-container cl-video-sizing"><span class="cl-ascii-drawing-text cl-ascii-normal-span">
                                    </span></pre>
                                    <nav ng-hide="true" lx-video-settings-negotiation-directive
                                         class="navbar navbar-inverse navbar-fixed-bottom cl-navbar-absolute-bottom cl-show-hide-fade" >
                                     </nav>
                                </div>
                            </div>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-sm"
                                    ng-class="(videoSignalingObject.localHasSelectedVideoType == 'hdVideo') ? 'btn-primary disabled' : 'btn-default'"
                                    ng-click="setLocalVideoType('hdVideo')">HD Video</button>
                            <button type="button" class="btn btn-sm"
                                    ng-class="(videoSignalingObject.localHasSelectedVideoType == 'asciiVideo') ? 'btn-primary disabled' : 'btn-default'"
                                    ng-click="setLocalVideoType('asciiVideo')">ASCII Video</button>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6" id="id-remote-video-wrapper-div">
                    <div class="text-center" >
                        <div id="id-remote-hd-video-wrapper-div" ng-show="(videoSignalingObject.remoteIsSendingVideoType == 'hdVideo')">
                            <h4>Receiving HD Video</h4>

                            <div  class="cl-my-well" style="display:inline-block">
                                <div style="position: relative">
                                    <video class="cl-video-sizing" id="id-remote-video-element" autoplay="autoplay">
                                        You must update to a newer version of Chrome or Firefox to use video
                                    </video>
                                    <div lx-mini-video-template-directive></div>
                                </div>
                            </div>
                        </div>

                        <div lx-draw-remote-ascii-video-directive id="id-remote-ascii-video-wrapper-div"  ng-show="(videoSignalingObject.remoteIsSendingVideoType == 'asciiVideo')">
                            <h4>Receiving ASCII Video</h4>
                            <div style="display:inline-block" class="cl-my-well">
                                <div style="position: relative">
                                    <!-- Do not move the span to a different line than the pre - the formatting will change if this is done since a blank will be added before the span. -->
                                    <pre class = "cl-ascii-container cl-video-sizing"><span class="cl-ascii-drawing-text cl-ascii-normal-span">
                                    </span></pre>
                                    <div lx-mini-video-template-directive></div>
                                </div>
                            </div>
                        </div>

                        <div class = "cl-hide-on-larger-than-xs">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm"
                                        ng-class="(videoSignalingObject.localHasSelectedVideoType == 'hdVideo') ? 'btn-primary disabled' : 'btn-default'"
                                        ng-click="setLocalVideoType('hdVideo')">HD Video</button>
                                <button type="button" class="btn btn-sm"
                                        ng-class="(videoSignalingObject.localHasSelectedVideoType == 'asciiVideo') ? 'btn-primary disabled' : 'btn-default'"
                                        ng-click="setLocalVideoType('asciiVideo')">ASCII Video</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div lx-access-camera-and-microphone-directive></div>
        <div lx-monitor-control-keys-directive ></div>


        <!-- Footer div is at the bottom of the page, but is placed here so that it
        has access to the main-video-ctrl scope -->

        <nav lx-call-status-directive class="navbar navbar-inverse navbar-fixed-bottom"></nav>
    </div>

    <!-- the following divs are outside of the standard page flow -->

    <div id="id-info-div">
        <div class="page-header">
            <h3>Diagnostic information</h3>
        </div>
        <div class="panel">
            <div id="iceInfoDiv"></div>
            <div id="pcInfoDiv"></div>
            <div id="errorsInfoDiv"></div>
        </div>

    </div>
</div>

<div id="id-dummy-xs-div"></div>

{% endraw %}