    <!-- Because we have multiple chat boxes that can all be "open" at once (although only one
         will be visible at any time), we need to keep all of the chatboxes in the dom irregardless
         of whatever view is being currently displayed. This allows each box to continue to receive
         messages which will be shown whenever the user displays any chatbox.

         Therefore, when chatbox URLs are selected,  the ngView that is shown is blank and one of
         the chat panels defined in the lx-chatbox.html file will be enabled, depending on the
         current URL (where the URL contains the chat name).

         When a chatbox URL is not selected, we must hide all chatboxes. This is accomplished by
         making sure that chatRoomNameFromUrl is not set.
         -->

{% raw %}

<!-- ng-show if chatRoomNameFromUrl is set, as this indicates that one of the chatrooms needs to be displayed.
     The "inner" ng-show will enable the correct chat room for display.-->
<div ng-show="chatRoomDisplayObject.chatRoomNameFromUrl" class="cl-fade-in-chatbox-view">
    <div style="position:relative">
        <div class=" cl-col-no-padding cl-main-ng-view-area-div cl-transition-margins-and-width"
             set-classes-for-common-area>
            <div class="cl-transition-margins-and-width">
                <div ng-repeat="(normalizedChatRoomName, roomOccupancyObject) in roomOccupancyDict">
                    <div ng-controller="lxChatPanelCtrl">


                        <!-- The following ng-show ensures that only the currently selected chatbox is visible to the
                             client.

                             Note: the ng-show below causes a small delay (probably about 500ms) that prevents
                             a portion of the cl-fade-in-chatbox-view animation (above) from fully displaying
                             when a new room is created (the animation is already almost done by the time this
                             element is shown).

                             I believe that this delay is caused from waiting for the server to respond with
                             an updated roomOccupancyDict object that contains the room that the user is currently
                             viewing.

                             As a workaround, we slide in an empty chat panel, which is called directly from
                             the ng-view directive (see lx-routes.js for the view that is pulled in). As of
                             the writing of this comment March 25 2015, the view specified in
                             lx-dummy-chatbox-view.html is shown until a new chatbox is loaded.
                             -->
                        <div class="panel cl-chat-panel panel-primary"
                             ng-show="chatPanelDict[roomOccupancyObject.chatRoomId].chatPanelIsCurrentlyVisible">

                            <div class="col-xs-12 panel-heading  cl-chat-panel-heading text-center">

                                <!-- if this chat panel is not currently shown, then remove the code that updates the
                                     list of groups and the group members. This removes watchers and ng-repeats that
                                     could slow down the app -->
                                <div ng-if="chatPanelDict[roomOccupancyObject.chatRoomId].chatPanelIsCurrentlyVisible">

                                    <!-- define the open chats button -->
                                    <div class="btn-group pull-left"
                                         ng-class="dropdownMenusStatuses.openChatsDropdownIsOpen ? 'open': ''">
                                        <button type="button" class="btn btn-primary"
                                                ng-click="dropdownMenusStatuses.openChatsDropdownIsOpen=!dropdownMenusStatuses.openChatsDropdownIsOpen">
                                    <span style="display:inline-block;line-height:1em;">
                                        <span class="icon-lx-chat-bubble-dual" style="display:inline-block;line-height:1em;"></span>
                                    </span>
                                    <span ng-if="trackUnseenMessageCountObject.unseenMessageCount">
                                        {{ trackUnseenMessageCountObject.unseenMessageCount }}
                                    </span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu cl-chat-panel-dropdown " role="menu">
                                            <li ng-repeat="normalizedChatRoomNameInDropdown in normalizedOpenRoomNamesList | orderBy: simpleArrayOrderByFn">

                                                <a href="/{{ roomOccupancyDict[normalizedChatRoomNameInDropdown].chatRoomNameAsWritten }}"
                                                   ng-click="normalizedChatRoomNameInDropdown == normalizedChatRoomName? gluePanel(): ''">
                                                <span ng-if="chatPanelDict[roomOccupancyDict[normalizedChatRoomNameInDropdown].chatRoomId].numMessagesSinceLastTimeBottomOfPanelWasViewed">

                                                    <div class="bubble bubble-right cl-message-count-bubble-override"><i></i>
                                                        {{ chatPanelDict[roomOccupancyDict[normalizedChatRoomNameInDropdown].chatRoomId].numMessagesSinceLastTimeBottomOfPanelWasViewed }}
                                                    </div>

                                                </span>

                                                <span style="white-space:nowrap;">
                                                    &nbsp;{{ roomOccupancyDict[normalizedChatRoomNameInDropdown].chatRoomNameAsWritten }}&nbsp
                                                </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>


                            <span class="cl-chat-panel-name-size">
                                {{ chatRoomDisplayObject.chatRoomNameFromUrl }}
                            </span>

                                    <!-- define the group members button -->
                                    <div class="btn-group pull-right"
                                         ng-class="dropdownMenusStatuses.groupMembersDropdownIsOpen ? 'open': ''">
                                        <button type="button" class="btn btn-primary"
                                                ng-click="dropdownMenusStatuses.groupMembersDropdownIsOpen=!dropdownMenusStatuses.groupMembersDropdownIsOpen">
                                            <span style="display:inline-block;line-height:1em;">
                                                <span class="icon-lx-users" style="display:inline-block;line-height:1em;"></span>
                                            </span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu cl-chat-panel-dropdown " role="menu">
                                            <li ng-repeat="remoteClientObj in roomOccupancyObject.listOfClientObjects | orderBy: 'userName'">
                                        <span style="white-space:nowrap;">
                                            <span  class='cl-chat-group-video-icon-container'>
                                                <button type="button"
                                                        class="btn btn-sm btn-primary cl-chat-group-video-button-modifier"
                                                        ng-click="showVideoElementsAndStartVideoFn('doVideoExchange', remoteClientObj.clientId)"
                                                        ng-class="{'invisible disabled' : remoteClientObj.clientId == lxMainViewCtrl.clientId,
                                                               'disabled' : videoExchangeObjectsDict[remoteClientObj.clientId].localVideoEnabledSetting == 'doVideoExchange'}">
                                                    <span class="icon-lx-video-camera-filled"></span>
                                                </button>
                                            </span>
                                            {{ remoteClientObj.userName }}
                                        </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body cl-chat-panel-body cl-chat-panel-body-short cl-transition-background-color"
                                 scroll-glue="chatPanelDict[roomOccupancyObject.chatRoomId].chatPanelIsGlued"
                                 ng-class="!channelObject.channelIsAlive?'cl-chat-panel-body-dead-channel':''">
                                <div class="cl-dummy-blank-div-in-short-chat-panel"></div>
                                <div lx-show-chat-messages-directive></div>

                            </div>
                            <div class="panel-footer cl-chat-panel-footer">
                                <div class="row">

                                    <!-- Chat message input and send message button -->
                                    <div class="col-xs-12">
                                        <form name="sendMessageForm" role="form" novalidate>
                                            <div class="input-group">
                                                <input class="form-control input-sm"
                                                       name="messageInputElem"
                                                       placeholder="Type your message here..."
                                                       ng-model="sendMessageFormScope.inputMessageString"
                                                       maxlength="{{ maxMsgLength }}"
                                                       ng-click="gluePanel()"
                                                       required
                                                        />



                                        <span class="input-group-btn">
                                            <button ng-click="sendChatMessageFn(roomOccupancyDict[chatRoomDisplayObject.normalizedChatRoomNameFromUrl].chatRoomId)"
                                                    class="btn  btn-sm pull-right btn-gray"
                                                    ng-disabled="sendMessageForm.$invalid">
                                                Send
                                            </button>
                                        </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endraw %}

