<!-- This code came from http://www.bootply.com/6mdOs5FvKU -->
{% raw %}
<div ng-controller="lxChatboxMainCtrl">
    <div class="row cl-row-no-xs-margins">
        <div class="col-xs-12 text-center cl-col-no-xs-padding">
            <div class="cl-match-element-to-video-sizing" style="display:inline-block">
                <div class="row cl-row-no-xs-margins">
                    <div class="col-md-10 col-lg-8 cl-col-no-xs-padding">

                        <div class="panel  cl-panel-xs-margin cl-transition-border"
                             ng-class="roomOccupancyObject.remoteUserId ? 'panel-primary' : 'panel-waiting'"
                             ng-click="userHasAlreadyClickedInChatPanel = true">

                            <div class="panel-heading  cl-transition-opacity-and-background-color">
                                <span class="cl-text-size-2_0em" style="display:inline-block;line-height:1em;">
                                    <span class="icon-lx-chat-bubble-dual" style="display:inline-block;line-height:1em;"></span>
                                    &nbsp;{{ roomOccupancyObject.roomName }}&nbsp;
                                </span>

                                <span ng-show="!roomOccupancyObject.remoteUserId">Waiting for someone to join</span>
                                <span ng-show="roomOccupancyObject.remoteUserName!=roomOccupancyObject.remoteUserId">{{ roomOccupancyObject.remoteUserName }} has joined</span>
                                <span ng-show="roomOccupancyObject.remoteUserId && roomOccupancyObject.remoteUserName==roomOccupancyObject.remoteUserId">Guest has joined</span>

                            </div>


                            <div class="panel-body cl-chat-panel-body"
                                 scroll-glue="chatPanelIsGlued"
                                 ng-class="videoCameraStatusObject.localVideoActivationStatus == 'activateVideo' ?
                                    'cl-chat-panel-body-short' : 'cl-chat-panel-body-tall'">
                                <div ng-class="videoCameraStatusObject.localVideoActivationStatus == 'activateVideo' ?
                                    'cl-dummy-blank-div-in-short-chat-panel' : 'cl-dummy-blank-div-in-tall-chat-panel'"></div>
                                <div lx-show-chat-messages-directive></div>


                                <!-- This is the html that prompts the user to exchange video with the remote user if the
                                     remote user has requested to do so -->
                                <div class="well cl-show-hide-fade cl-prompt-for-video-access cl-chatbox-glow"
                                     ng-show="videoCameraStatusObject.remoteVideoActivationStatus == 'activateVideo' &&
                                              videoCameraStatusObject.localVideoActivationStatus == 'waitingForActivateVideo'">

                                    <div class="row ">
                                        <div class="col-xs-12 cl-text-size-1_5em ">
                                            <div>Remote user has requested to exchange video. Do you accept?</div>


                                            <button type="button"
                                                    class="btn btn-sm "
                                                    ng-click="showVideoElementsAndStartVideoFn('activateVideo', false)"
                                                    ng-dblclick="showVideoElementsAndStartVideoFn('activateVideo', false)"
                                                    ng-class="roomOccupancyObject.remoteUserId ? 'btn-primary' : 'btn-danger'">
                                            <span class="icon-lx-start-video-camera-wrapper-cfg">
                                                <span class="icon-lx-start-video-camera-cfg"></span>
                                            </span>
                                                Start
                                            </button>
                                            <button type="button"
                                                    class="btn btn-sm "
                                                    ng-click="showVideoElementsAndStartVideoFn('doNotActivateVideo', false)"
                                                    ng-dblclick="showVideoElementsAndStartVideoFn('doNotActivateVideo', false)"
                                                    ng-class="roomOccupancyObject.remoteUserId ? 'btn-primary' : 'btn-danger'">
                                            <span class="icon-lx-start-video-camera-wrapper-cfg">
                                                <span class="icon-lx-start-video-camera-cfg"></span>
                                                <span class="icon-lx-deny-start-video-camera-thick-forward-slash-cfg"></span>
                                                <span class="icon-lx-deny-start-video-camera-thin-forward-slash-cfg"></span>
                                            </span>
                                                Deny
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">

                                    <!-- Chat message input and send message button -->
                                    <div class="col-xs-8 col-sm-10">
                                        <form name="sendMessageForm" role="form" novalidate>
                                            <div class="input-group">
                                                <input class="form-control input-sm"
                                                       ng-class="roomOccupancyObject.remoteUserId ? '' : 'cl-invalid-input-glow'"
                                                       name="messageInputElem"
                                                       placeholder="Type your message here..."
                                                       ng-model="inputMessageString"
                                                       maxlength="{{ maxMsgLength }}"
                                                       ng-click="chatPanelIsGlued = true"
                                                       required
                                                        />



                                                <span class="input-group-btn">
                                                    <button ng-click="sendChatMessageFn()"
                                                            class="btn  btn-sm pull-right"
                                                            ng-class="roomOccupancyObject.remoteUserId ? 'btn-primary' : 'btn-danger'"
                                                            ng-disabled="sendMessageForm.$invalid">
                                                        Send
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- This is the code for the video activation/stop button -->

                                    <!-- only show the video/stop video button if the user is not currently being shown the
                                         prompt window to enable/deny video -->
                                    <div ng-hide="videoCameraStatusObject.remoteVideoActivationStatus == 'activateVideo' &&
                                              videoCameraStatusObject.localVideoActivationStatus == 'waitingForActivateVideo'">


                                        <div class="col-xs-4 col-sm-2">
                                            <!-- "Start" video button -->
                                            <button type="button"
                                                    ng-show="videoCameraStatusObject.localVideoActivationStatus != 'activateVideo'"
                                                    ng-click="showVideoElementsAndStartVideoFn('activateVideo', true)"
                                                    ng-dblclick="showVideoElementsAndStartVideoFn('activateVideo', true)"
                                                    class="btn btn-sm pull-right"
                                                    ng-class="roomOccupancyObject.remoteUserId ? 'btn-primary' : 'btn-danger'">
                                                <span class="icon-lx-start-video-camera-wrapper-cfg">
                                                    <span class="icon-lx-start-video-camera-cfg"></span>
                                                </span>
                                                Video
                                            </button>

                                            <!-- "Stop" video button -->
                                            <button type="button"
                                                    ng-show="videoCameraStatusObject.localVideoActivationStatus == 'activateVideo'"
                                                    ng-click="showVideoElementsAndStartVideoFn('waitingForActivateVideo', true)"
                                                    ng-dblclick="showVideoElementsAndStartVideoFn('waitingForActivateVideo', true)"
                                                    class="btn btn-sm pull-right"
                                                    ng-class="roomOccupancyObject.remoteUserId ? 'btn-primary' : 'btn-danger'">
                                                <span class="icon-lx-start-video-camera-wrapper-cfg">
                                                    <span class="icon-lx-phone-hang-up-cfg"></span>
                                                </span>
                                                    Hangup
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endraw %}