{% raw %}

<div ng-controller="lxChatRoomCtrl">



    <!-- the following ng-if statement ensures that in the case that we have to redirect the user back to the landing page
         that the modal boxes and camera prompts and other things have not already started to execute -->
    <div ng-if="lxChatRoomCtrl.userSuccessfullyEnteredRoom == true">
        {% endraw %}{% include "lx-templates/lx-chatbox.html" %}{% raw %}

        <div ng-if="videoCameraStatusObject.localVideoActivationStatus == 'enableVideoElements'">

            {% endraw %}{% include "lx-templates/lx-video-elements.html" %}{% raw %}

        </div>

        <div lx-initialize-channel-directive></div>
        <div lx-initialize-turn-directive></div>



    </div>

{% endraw %}

    {% include "lx-templates/lx-debugging-info.html" %}

</div>

