
<!-- Because there is a small (maybe 500ms) delay when showing the appropriate chatbox in lx-chatbox.html,
     we load a "fake" chatbox panel as soon as the view is shown. This provides a sense of immediate response
     to the user. Read comments in lx-chatbox.html for more information on the problem that this overcomes.

     The panels in this file should mirror the panels in lx-chatbox.html -->

<div lx-make-sure-user-is-logged-in></div>
<div ng-show="chatRoomDisplayObject.chatRoomNameFromUrl" class="cl-fade-in-chatbox-view">
    <div style="position:relative">
        <div class=" cl-col-no-padding cl-main-ng-view-area-absolute-div cl-transition-margins-and-width"
             set-classes-for-common-area>
            <div class="cl-transition-margins-and-width">

                <div ng-if="chatRoomDisplayObject.chatRoomNameFromUrl != ':none:'" class="panel cl-chat-panel panel-primary">
                    <div class="col-xs-12 panel-heading  cl-chat-panel-heading text-center"></div>
                    <div class="panel-body cl-chat-panel-body cl-chat-panel-body-height"></div>
                    <div class="panel-footer cl-chat-panel-footer"></div>
                </div>
                <div ng-if="chatRoomDisplayObject.chatRoomNameFromUrl == ':none:'" class="panel cl-chat-panel panel-primary">
                    <div class="col-xs-12 panel-heading  cl-chat-panel-heading text-center">No chats are open</div>
                    <div class="panel-body cl-chat-panel-body cl-chat-panel-body-height"></div>
                    <div class="panel-footer cl-chat-panel-footer"><a href="/" class="btn btn-default pull-right"><span class="icon-lx-new-chat"></span> New chat</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

