{% raw %}
<div class="row cl-row-no-xs-margins">
    <div class="col-xs-12 text-center cl-col-no-xs-padding">
        <div ng-if="debugBuildEnabled">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>Room Name: {{ roomOccupancyObject.chatRoomName }}</td>
                    <td>Room Id:   {{ roomOccupancyObject.roomId }}</td>
                </tr>
                <tr>
                    <td>User Name: {{ roomOccupancyObject.userName }}</td>
                    <td>User Id: {{ roomOccupancyObject.userId }}</td>
                </tr>
                <tr ng-repeat="user in roomOccupancyObject.listOfClientObjects | filter:{userId: '!'+ roomOccupancyObject.userId}">
                    <td>Remote User Name: {{ user.userName }}</td>
                    <td>Remote User Id: {{ user.userId }}</td>
                </tr>
                </tr>
                    <td>
                        localVideoActivationStatus:<br> {{ videoExchangeSettingsObject.localVideoActivationStatus }}
                    </td>
                    <td>
                        remoteVideoActivationStatus:<br> {{ videoExchangeSettingsObject.remoteVideoActivationStatus }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endraw %}