
{% raw %}
<script type="text/ng-template" id="lx-template-cache/lx-login-modal.html">

    <div ng-controller="LxLoginModalController">
        <div class="modal-header">
            <h3 class="modal-title"> Please select a Username </h3>
            <div class="modal-body">
                <div class="clearfix">
                    <form name="loginUserForm" role="form" novalidate>
                        <div class="col-xs-12">
                            <div class="form-group">

                                <!--<label for="id-inputRoomName">User Name</label>-->
                                <div class="input-group">
                                    <input class=" form-control"
                                           id="id-inputRoomName"
                                           placeholder="Type your desired username"
                                           name="usernameInputElem"
                                           ng-model="inputUsernameObj.usernameAsWritten"
                                           ng-minlength="{{ usernameMinChars }}"
                                           maxlength = "{{ usernameMaxChars }}"
                                           ng-class="loginUserForm.usernameInputElem.inputCssClass"
                                           ng-pattern="validUsernamesPattern"
                                           ng-trim="false"
                                           check-for-existing-username-directive
                                           required
                                           autofocus
                                            />

                                    <span class="input-group-btn">
                                        <button ng-click="submitUsername(inputUsernameObj.usernameAsWritten)" class="btn btn-primary"
                                                ng-disabled="loginUserForm.$invalid ||
                                                loginUserForm.usernameInputElem.userIsWaitingForUsernameStatus ||
                                                loginUserForm.usernameInputElem.usernameIsTakenMessage">
                                            Enter!</button>
                                    </span>
                                </div>

                                <div class="cl-feedback-on-input-validity-div"
                                     ng-show="loginUserForm.usernameInputElem.$dirty || loginUserForm.$valid">
                                    <!-- by placing the feedback in a div that has a minimum height, we prevent UI flashing due to text being
                                    added and removed from the DOM -->
                                    <div class="text-danger" ng-show="loginUserForm.usernameInputElem.$dirty">
                                        <small  ng-show="loginUserForm.usernameInputElem.$error.required">Please input a chat name</small>
                                        <small  ng-show="loginUserForm.usernameInputElem.$error.minlength">Username must be at least {{ usernameMinChars }} characters</small>
                                        <!--<small  ng-show="loginUserForm.usernameInputElem.$error.maxlength">Chat name cannot be longer than {{ maxInputLength }} characters</small>-->
                                        <small  ng-show="loginUserForm.usernameInputElem.$error.pattern">
                                            {{ invalidCharacterFeedback }}</small>
                                        <small  ng-show="loginUserForm.usernameInputElem.$error.checkForExistingUsernameIsOk">Error: unable to contact server (is your network working?)</small>
                                    </div>
                                    <div  ng-show="loginUserForm.$valid">
                                        <small ng-show="loginUserForm.usernameInputElem.usernameIsAvailableMessage">
                                            {{ loginUserForm.usernameInputElem.usernameIsAvailableMessage }} </small>
                                        <small ng-show="loginUserForm.usernameInputElem.usernameIsTakenMessage">
                                            {{ loginUserForm.usernameInputElem.usernameIsTakenMessage }} </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</script>
{% endraw %}