<!-- This code is loaded as a "view" in lx-routes.js -->

<script type='text/javascript'>
    var lxLandingPageConstantsEmbeddedInHtml = {{ serverLandingPageParamsJson }}
</script>
{% raw %}
<div style="position:relative">
    <div class=" cl-col-no-padding cl-main-ng-view-area-absolute-div cl-transition-margins-and-width "
         set-classes-for-common-area>

        <div class="cl-landing-page-common-area">
            <div class="well col-xs-12 text-left cl-landing-page-well"
                 style="overflow: scroll"
                ng-class="{'cl-landing-page-well-when-video-open':videoStateInfoObject.numOpenVideoExchanges >= 1}">

                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-8">
                        <h2>Join a chat room</h2>
                        ChatSurfing is an easy way to <strong>chat</strong> and <strong>video conference</strong>
                        in your browser. Simply enter into a chat room below and start chatting! To respect your
                        privacy, your video will only be enabled if you turn it on and will only be shared with
                        people that you choose.
                    </div>
                    <div class="col-xs-12">&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-sm-8 col-md-6">
                        <div class="clearfix">
                            <form name="createRoomForm" role="form" novalidate>
                                <div class="form-group">

                                    <label for="id-inputRoomName">Enter into a custom room</label>
                                    <div class="input-group">
                                        <input class=" form-control"
                                               id="id-inputRoomName"
                                               placeholder="Name of chat room to create and/or join"
                                               name="chatRoomNameInputElem"
                                               ng-model="inputRoomObj.chatRoomName"
                                               ng-minlength="{{ minInputLength }}"
                                               maxlength = "{{ maxInputLength }}"
                                               ng-class="createRoomForm.chatRoomNameInputElem.inputCssClass"
                                               ng-pattern="validRoomNamesPattern"
                                               ng-trim="false"
                                               check-for-room-occupancy-directive
                                               required
                                                />

                                        <span class="input-group-btn">
                                            <button ng-click="goToRoomUrl(inputRoomObj.chatRoomName)" class="btn btn-primary"
                                                    ng-disabled="createRoomForm.$invalid || createRoomForm.chatRoomNameInputElem.userIsWaitingForRoomStatus">
                                                {{ createRoomForm.chatRoomNameInputElem.submitButtonText }}</button>
                                        </span>
                                    </div>

                                    <div class="cl-feedback-on-input-validity-div"
                                         ng-show="createRoomForm.chatRoomNameInputElem.$dirty || createRoomForm.$valid">
                                        <!-- by placing the feedback in a div that has a minimum height, we prevent UI flashing due to text being
                                        added and removed from the DOM -->
                                        <div class="text-danger" ng-show="createRoomForm.chatRoomNameInputElem.$dirty">
                                            <small  ng-show="createRoomForm.chatRoomNameInputElem.$error.required">Please input a chat name</small>
                                            <small  ng-show="createRoomForm.chatRoomNameInputElem.$error.minlength">Chat name must be at least {{ minInputLength }} characters</small>
                                            <!--<small  ng-show="createRoomForm.chatRoomNameInputElem.$error.maxlength">Chat name cannot be longer than {{ maxInputLength }} characters</small>-->
                                            <small  ng-show="createRoomForm.chatRoomNameInputElem.$error.pattern">
                                                {{ invalidCharacterFeedback }}</small>
                                            <small  ng-show="createRoomForm.chatRoomNameInputElem.$error.checkForRoomOccupancyIsOk">Error: unable to contact server (is your network working?)</small>
                                        </div>
                                        <div  ng-show="createRoomForm.$valid">
                                            <small ng-show="createRoomForm.chatRoomNameInputElem.roomNumOccupantsMessage">
                                                {{ createRoomForm.chatRoomNameInputElem.roomNumOccupantsMessage }}</small>
                                            <small ng-show="createRoomForm.chatRoomNameInputElem.roomIsEmptyMessage">
                                                {{ createRoomForm.chatRoomNameInputElem.roomIsEmptyMessage }} </small>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-md-4">
                        <label>Chats Populares en Español</label>
                        <ul class="list-unstyled">
                            <li><a href="/Bienvenido">Bienvenido</a></li>
                            <li><a href="/Pasando_el_rato">Pasando el rato</a></li>
                            <li><a href="Amigos">Amigos</a></li>
                            <li><a href="Buscar_pareja">Buscar pareja</a></li>
                            <li><a href="Romance_(Español)">Romance</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-md-4">
                        <label>Popular Chats in English</label>
                        <ul class="list-unstyled">
                            <li><a href="/Welcome">Welcome</a></li>
                            <li><a href="/Hanging_out">Hanging out</a></li>
                            <li><a href="/Friends">Friends</a></li>
                            <li><a href="/Dating">Dating</a></li>
                            <li><a href="Romance_(English)">Romance</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-8">
                        <h2>How to use ChatSurfing</h2>
                        <label><a href="" lx-show-instructions-modal-on-click-directive>Click here for simple instructions</a></label>
                    </div>
                </div>

            <!--
            If the user has one or more videos open, and they click on the video, then bring them to the last
             chat room that they had open. If they do not have any chat rooms open, then this will take them
             to the reserved room name ":none:" which displays video without being in any corresponding chat room.
             -->
            <a href="/{{ chatRoomDisplayObject.lastChatRoomNameFromUrl }}">
                <div ng-class="{'cl-overlay-mini-video-elements-when-video-open':videoStateInfoObject.numOpenVideoExchanges >= 1}">
                </div>
            </a>
        </div>
    </div>
</div>


<!-- How to use ChatSurfing instructions modal -->
<script type="text/ng-template" id="lx-how-to-use-chatsurfing-template-cache.html">
    <div class="modal-header">
       <h3 class="modal-title">How to use ChatSurfing</h3>
    </div>
    <div class="modal-body">
        <label>ChatSurfing is easy to use</label>
        <ul>
            <li>Join a chat room from the main page by either typing in the name of a custom room, or by
                clicking on one of the "Popular Chats" that are listed.</li>
            <li>If you want to have a private conversation with someone, then enter a unique chat room name that is
                unlikely to be accidentally chosen by other people. Next, simply invite your friends to join
                you by sharing your chosen room name (send them an email, text message, etc.).</li>
            <li>If you have joined a "Popular chat" that already has people, then just start chatting with
                people in the room. Please note that to protect privacy, messages sent before you joined the
                room will not be displayed to you.</li>
            <li>If you want to request a video exchange with someone, then click on the camera symbol beside
                their name and wait for them to accept or deny your offer.</li>
        </ul>
        <label>Advanced features</label>
        <ul>
            <li>You can open as many chats as you like. Just click on the "Menu" symbol in the top left corner beside
                the ChatSurfing logo to see the option for "New chat". You can also show the menu by swiping to the
                right on your mobile device.
            </li>
            <li>You can open video sessions with as many people as you like, however if your computer starts to slow down
                this is a sign that you have probably opened too many video sessions.
            </li>
            <li>If you wish to see who has invited you to exchange video, click on the "Menu" symbol at the top
                left beside the ChatSurfing logo, and select "Notifications".
                The notifications menu can also be seen by swiping left on your mobile devide.
            </li>
            <li>To exit a chat room, click on the "X" symbol beside the chat room name and just below the ChatSurfing logo.</li>
        </ul>
    </div>

    <div class="modal-footer">
       <button class="btn btn-primary" ng-click="modalOkFn()">OK</button>
    </div>
</script>

{% endraw %}
