<!--
Contains the html that defines the "main" menu that slides out from the left side when the user presses
the "menu-button" icon
-->

{% raw %}

    <div ng-cloak ng-if="mainMenuObject.showMainMenu"
        class="col-xs-4 col-sm-3 col-md-2 cl-animate-main-control-menu cl-col-no-padding">

        <div class="btn-group-vertical well cl-main-control-menu" role="group"
                ng-click="mainMenuObject.showMainMenu = false">

            <a href="/{{ chatRoomDisplayObject.lastChatRoomNameFromUrl }}"
               class="btn btn-default"
               ng-class="chatRoomDisplayObject.lastChatRoomNameFromUrl?'':'disabled'">
                <span class="icon-lx-chat-bubble-dual"></span>
                <span translate>My open chats</span>
            </a>
            <a href="/" class="btn btn-default"><span class="icon-lx-new-chat"></span>
                <span translate>New chat</span>
            </a>
            <a href="" class="btn btn-default"
                ng-click="toggleNotificationMenu($event)">
                
                <span class="icon-lx-flag"></span>
                <span ng-if="videoStateInfoObject.numVideoRequestsPendingFromRemoteUsers">
                    [{{ videoStateInfoObject.numVideoRequestsPendingFromRemoteUsers }}]
                </span>
                <span translate>Notifications</span>
            </a>
            <a href="" class="btn btn-default"
                    ng-click="closeAllChatRoomsInterfaceFn()"><span class="icon-lx-power-switch"></span>
                <span translate>Logout</span>
            </a>


        </div>
    </div>
{% endraw %}