{% raw %}

    <div ng-if="videoStateInfoObject.numOpenVideoExchanges >= 1">

        <div class="row cl-row-no-margins cl-mini-video-absolute-row"
                ng-class="{'cl-mini-video-absolute-row-to-back': !chatboxPanelElementObject.videoIsFocused}">
            <div class="cl-mini-video-make-width-same-as-video">
                <div class="col-xs-12 cl-col-no-padding">
                    <div class="row cl-row-no-margins">

                        <div ng-repeat="clientId in ['localVideoElement'].concat(videoStateInfoObject.currentOpenVideoSessionsList)"
                             class="col-xs-3 cl-transition-opacity text-center cl-col-no-padding cl-vertical-align-inline-block">
                            <div class="cl-mini-video-wrapper-div"
                                 ng-click="videoDisplaySelection.currentlySelectedVideoElement = clientId"
                                 lx-mini-video-element-directive='{{ clientId }}'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endraw %}

