{% raw %}
<div ng-if="videoStateInfoObject.numOpenVideoExchanges >= 1"
     class="row cl-row-no-margins cl-video-inside-chat-panel"
     ng-class="{'cl-send-video-inside-chat-panel-to-back': !chatboxPanelElementObject.videoIsFocused}">
     <!--The following wraps the remote video windows-->
    <div class="col-xs-12 text-center cl-col-no-padding cl-full-height">
        <div class="cl-main-video-bottom-offset-div"
             ng-controller="lxLocalVideoWrapperCtrl">
            <div lx-display-video-element-directive selected-video-element = '{{ videoDisplaySelection.currentlySelectedVideoElement }}'></div>
        </div>
        <div class="cl-main-video-bottom-offset-div">
            <div class="cl-video-sizing cl-video">
                <div ng-if="videoDisplaySelection.currentlySelectedVideoElement == 'localVideoElement'">
                    {% endraw %}{% include "lx-templates/lx-video-call-local-buttons.html" %}{% raw %}

                    <div class="cl-center-overlay-outer-div cl-video-text-overlay">
                        <div class="cl-center-overlay-middle-div">
                            <span ng-show="localStreamIsActive"
                                  class="cl-overlay-text-span cl-transition-opacity">Local Video
                            </span>

                            <span ng-show="!localStreamIsActive && !accessCameraAndMicrophoneObject.modalsCurrentlyShown.length"
                                 class="cl-overlay-text-span cl-transition-opacity"
                                 lx-display-local-video-status>
                            </span>
                        </div>
                    </div>
                </div>

                <div ng-if="videoDisplaySelection.currentlySelectedVideoElement && videoDisplaySelection.currentlySelectedVideoElement != 'localVideoElement'">
                    {% endraw %}{% include "lx-templates/lx-video-call-remote-buttons.html" %}{% raw %}

                    <div class="cl-center-overlay-outer-div cl-video-text-overlay">
                        <div class="cl-center-overlay-middle-div">
                            <span ng-show="remoteStreamIsActive" class="cl-overlay-text-span cl-transition-opacity">{{ remoteClientId }}</span>
                            <span ng-show="!remoteStreamIsActive && !accessCameraAndMicrophoneObject.modalsCurrentlyShown.length"
                                 class="cl-overlay-text-span cl-transition-opacity"
                                 lx-display-remote-video-status selected-video-element = '{{ videoDisplaySelection.currentlySelectedVideoElement }}'>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endraw %}
