{% raw %}

    <div ng-if="videoStateInfoObject.numOpenVideoExchanges >= 1">

        <div class="row cl-row-no-margins cl-mini-video-absolute-row">
            <div class="col-xs-12 cl-col-no-padding">
                <div class="row cl-row-no-margins">
                    <div ng-repeat="remoteClientId in videoStateInfoObject.currentOpenVideoSessionsList"
                         class="cl-transition-opacity text-center cl-col-no-padding cl-vertical-align-inline-block"
                            ng-class="videoStateInfoObject.numOpenVideoExchanges > 5?'col-xs-1':'col-xs-2'">
                        <div class="cl-mini-video-wrapper-div"
                             ng-click="videoDisplaySelection.currentlySelectedVideoElement = remoteClientId"
                             lx-remote-mini-video-element-directive remote-client-id='{{ remoteClientId }}'>
                        </div>
                    </div><!--
                 --><div class="cl-transition-opacity text-center cl-col-no-padding cl-vertical-align-inline-block"
                        ng-class="videoStateInfoObject.numOpenVideoExchanges > 5?'col-xs-1':'col-xs-2'">
                        <div class="cl-mini-video-wrapper-div"
                             ng-click="videoDisplaySelection.currentlySelectedVideoElement = 'localVideoIsSelected'">
                            <div lx-local-mini-video-element-directive></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endraw %}

