
<div ng-app="videoApp">
    <div class="container cl-container-no-padding">

        <div ng-controller="lxVideoChatAppViewCtrl">

            <div lx-show-unseen-message-count-directive></div>

            {% include "lx-templates/lx-title-row.html" %}


            <!-- ng-view will call in the appropriate template for the current URL location -->
            <div class="cl-row-no-margins cl-hide-row-overflow"
                    ng-class="mainMenuObject.showMainMenu? 'cl-xs-add-right-margin':''">
                <div class="row cl-row-no-xs-margins">
                    <div class=" cl-main-ng-view-area-wrapper">

                        <div ng-controller="lxChatRoomCtrl">

                            <!-- lx-main-menu.html contains the "main" menu that displays website controls -->
                            {% include 'lx-templates/lx-main-menu.html' %}

                            <div ng-view class="cl-ng-view cl-fade-in-main-view"></div>

                            <!-- Chat views are "faked" in the ng-view directive and are over-written by lx-chatbox.html.
                                 Read comments in lx-chatbox.html for more details. -->
                            {% include 'lx-templates/lx-chatbox.html' %}

                            {% include 'lx-templates/lx-notifications.html' %}

                        </div>
                    </div>
                </div>
            </div>



            {% include "lx-templates/lx-video-elements.html" %}
            <div lx-initialize-channel-directive></div>
            <div lx-initialize-turn-directive></div>

            {% include "lx-templates/lx-debugging-info.html" %}

        </div>

    </div>
</div>