{% raw %}
    <div
     class="row cl-row-no-margins cl-video-inside-chat-panel"
     ng-class="{'cl-send-video-inside-chat-panel-to-back': !chatboxPanelElementObject.videoIsFocused,
                'cl-remove-borders-and-background': lxMainCtrlDataObj.currentView == 'LxLandingPageView'}">
     <!--The following wraps the remote video windows-->
    <div class="col-xs-12 text-center cl-col-no-padding cl-full-height">
        <div class="cl-main-video-bottom-offset-div">
            <div lx-main-video-element-directive></div>
        </div>
        <div class="cl-main-video-bottom-offset-div"
             ng-controller="LxVideoMainController">
            <div class="cl-video-sizing cl-video">
                <div ng-if="videoDisplaySelection.currentlySelectedVideoElementClientId == 'localVideoElement' || !videoDisplaySelection.currentlySelectedVideoElementClientId">
                    {% endraw %}{% include "lx-templates/lx-video-call-local-buttons.html" %}{% raw %}
                    {% endraw %}{% include "lx-templates/lx-video-call-local-buttons-status.html" %}{% raw %}

                    <div class="cl-center-overlay-outer-div cl-center-overlay-outer-div-bottom cl-video-text-overlay">
                        <div class="cl-center-overlay-middle-div">
                            <span ng-show="localStreamIsActive"
                                  class="cl-overlay-text-span cl-transition-opacity">{{ lxMainCtrlDataObj.userNameAsWritten }} (You)
                            </span>

                            <span ng-show="!localStreamIsActive && !accessCameraAndMicrophoneObject.modalsCurrentlyShown.length"
                                 class="cl-overlay-text-span cl-transition-opacity"
                                 lx-display-local-video-status>
                            </span>
                        </div>
                    </div>
                </div>

                <div ng-if="videoDisplaySelection.currentlySelectedVideoElementClientId && videoDisplaySelection.currentlySelectedVideoElementClientId != 'localVideoElement'">
                    {% endraw %}{% include "lx-templates/lx-video-call-remote-buttons.html" %}{% raw %}

                    <div class="cl-center-overlay-outer-div cl-center-overlay-outer-div-bottom cl-video-text-overlay">
                        <div class="cl-center-overlay-middle-div">
                            <span ng-show="remoteStreamIsActive" class="cl-overlay-text-span cl-transition-opacity">{{ videoDisplaySelection.currentlySelectedVideoElementClientId }}</span>
                            <span ng-show="!remoteStreamIsActive && !accessCameraAndMicrophoneObject.modalsCurrentlyShown.length"
                                 class="cl-overlay-text-span cl-transition-opacity"
                                 lx-display-remote-video-status selected-video-element-client-id = "{{ videoDisplaySelection.currentlySelectedVideoElementClientId }}">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endraw %}
