
<div ng-app="videoApp">
    <div class="container cl-container-no-padding">

        <div ng-controller="lxVideoChatAppViewCtrl">
            {% include "lx-templates/lx-title-row.html" %}


            <!-- ng-view will call in the appropriate template for the current URL location -->
            <div class="cl-row-no-margins cl-hide-row-overflow"
                    ng-class="mainMenuObject.showMainMenu? 'cl-xs-add-right-margin':''">
                <div class="row cl-row-no-xs-margins">
                    <div class=" cl-main-ng-view-area-wrapper">

                        {% raw %}

                        <div ng-if="mainMenuObject.showMainMenu"
                            class="col-xs-4 col-sm-3 col-md-2 cl-animate-main-control-menu cl-col-xs-smaller-left-right-padding
                            cl-transition-opacity">

                            <div class="btn-group-vertical well cl-main-control-menu" role="group">
                                <a href="/{{ chatRoomDisplayObject.lastChatRoomNameFromUrl }}" class="btn btn-default">My chats</a>
                                <a href="/" class="btn btn-default">New chat</a>
                                <a href="/" class="btn btn-default">Friends</a>
                                <a href="/" class="btn btn-default">Profile</a>
                                <a href="/" class="btn btn-default">Settings</a>
                                <a href="/" class="btn btn-default">Logout</a>


                            </div>
                        </div>

                        {% endraw %}
                        <div ng-view class="cl-ng-view"></div>


                        <!-- Because we have multiple chat boxes that can all be "open" at once (although only one
                             will be visible at any time), we need to keep all of the chatboxes in the dom independent
                             of whatever view is being currently displayed. This allows each box to continue to receive
                             messages which will be visible immediatley whenever the user re-displays the chatbox.

                             Therefore, when chatbox URLs are selected,  the ngView that is shown is blank and one of
                             the chat panels defined in the lx-chatbox.html file will be enabled, depending on the
                             current URL (where the URL contains the chat name).

                             When a chatbox URL is not selected, we must make sure that the chatboxes are all hidden -->
                        {% include 'lx-templates/lx-chatbox.html' %}

                    </div>
                </div>
            </div>



            {% include "lx-templates/lx-video-elements.html" %}
            <div lx-initialize-channel-directive></div>
            <div lx-initialize-turn-directive></div>

            {% include "lx-templates/lx-debugging-info.html" %}

        </div>

    </div>
</div>