{% raw %}

<div class="row cl-row-no-xs-margins cl-title-row-top-bottom-margin">

    <div class="col-xs-2 cl-col-xs-smaller-left-right-padding">
        <div class="btn-group">
            <button type="button" class="btn btn-default cl-menu-button"
                    ng-click="toggleMainMenu()" my-click-once>
                <span class="sr-only">Toggle menu</span>
                <span class="cl-icon-bar"></span>
                <span class="cl-icon-bar"></span>
                <span class="cl-icon-bar"></span>
            </button>

        </div>
    </div>

    <div class="col-xs-8 text-center ">
        <img src="/images/chat-surfing.jpg"/>
    </div>

    <div class="col-xs-2 cl-col-xs-smaller-left-right-padding">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default cl-menu-button"
                    ng-click="toggleNotificationMenu()" my-click-once>
                    F [{{ videoStateInfoObject.numVideoSessionsRequestedByRemoteClientNotYetActive }}]
            </button>

        </div>
    </div>
</div>
{% endraw %}