{% raw %}

<div class="row cl-row-no-margins cl-title-row-top-bottom-margin cl-title-row-height">

    <div class="col-xs-2 cl-col-no-padding">
        <button type="button" class="btn btn-gray-light cl-menu-button"
                ng-click="toggleMainMenu($event)" lx-click-once-directive>
            <span class="sr-only">Toggle menu</span>
            <span class="cl-icon-bar"></span>
            <span class="cl-icon-bar"></span>
            <span class="cl-icon-bar"></span>
        </button>
    </div>

    <div class="col-xs-8 text-center ">
        <img src="/images/chat-surfing.png"/>
    </div>

    <div class="col-xs-2 cl-col-no-padding">
        <div class="pull-right" dropdown>
            <button type="button" class="btn btn-gray-light cl-menu-button" dropdown-toggle>
                <img ng-show="globalData.languageLocale == 'en'" src="/images/flags/english-flag.jpg"/>
                <img ng-show="globalData.languageLocale == 'es'" src="/images/flags/spanish-flag.jpg"/>
            </button>
            <ul class="dropdown-menu cl-language-dropdown" role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a href="" ng-click="changeLanguage('en')"><img src="/images/flags/english-flag.jpg"/> English</a></li>
                <li role="menuitem"><a href="" ng-click="changeLanguage('es')"><img src="/images/flags/spanish-flag.jpg"/> Español </a></li>
            </ul>
        </div>
    </div>
</div>
{% endraw %}