
<script type='text/javascript'>
    var videoConstantsEmbeddedInHtml = {{ serverVideoParamsJson }}
</script>

{% raw %}

<div ng-controller="lxChatRoomOuterCtrl">


    <!-- the following ng-if statement ensures that in the case that we have to redirect the user back to the landing page
         that the modal boxes and camera prompts and other things have not already started to execute -->
    <div ng-if="lxChatRoomOuterCtrl.userSuccessfullyEnteredRoom == true">

        {% endraw %}{% include "lx-templates/lx-jinja-templates/lx-tc-check-if-system-supports-web-rtc.html" %}{% raw %}
        <div lx-check-if-system-supports-web-rtc-directive></div>


        <div ng-controller="lxMainVideoCtrl">



            <div lx-initialize-channel-and-turn-directive></div>

            {% endraw %}{% include "lx-templates/lx-jinja-templates/lx-tc-access-camera.html" %}{% raw %}
            <div lx-access-camera-and-microphone-directive></div>
            <div lx-video-negotiation-directive></div>



            <div class="row">
                <div lx-video-container-directive>

                    <div class="col-sm-6 text-center" >
                        <div lx-video-wrapper-directive video-window='local'  id="id-local-video-wrapper-div">
                            <div class="text-center">
                                <div ng-show="(videoSignalingObject.localIsSendingVideoType == 'HD Video' ||  !videoSignalingObject.localIsSendingVideoType) || videoSignalingObject.debugShowAllVideoWindows" >
                                    <h4>Local HD Video</h4>
                                    <div style="display:inline-block" class="cl-my-well" >
                                        <div style="position: relative">
                                            <div lx-video-element-directive video-window='local'></div>
                                            <div lx-video-settings-negotiation-directive class="cl-hide-on-larger-than-xs"></div>
                                        </div>
                                    </div>
                                </div>

                                <div lx-generate-ascii-video-directive id="id-local-ascii-video-wrapper-div"
                                     ng-show="(videoSignalingObject.localIsSendingVideoType == 'ASCII Video') || videoSignalingObject.debugShowAllVideoWindows" >
                                    <h4>Local ASCII Video</h4>
                                    <div class="cl-my-well" style="display:inline-block" >
                                        <div style="position: relative">
                                            <!-- Do not move the span to a different line than the pre - the formatting will change if this is done since a blank will be added before the span. -->
                                            <pre class="cl-ascii-container cl-video-sizing"><span class="cl-ascii-drawing-text cl-ascii-normal-span">
                                            </span></pre>
                                            <div lx-video-settings-negotiation-directive class="cl-hide-on-larger-than-xs"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 text-center" >
                        <div lx-video-wrapper-directive video-window='remote' id="id-remote-video-wrapper-div">
                            <div lx-mini-video-template-directive></div>
                            <div class="text-center" >
                                <div id="id-remote-hd-video-wrapper-div"
                                     ng-show="videoSignalingObject.remoteIsSendingVideoType == 'HD Video' ||
                                     (!videoSignalingObject.remoteIsSendingVideoType && videoSignalingObject.localHasSelectedVideoType == 'HD Video') ||
                                     (!videoSignalingObject.remoteIsSendingVideoType && videoSignalingObject.localHasSelectedVideoType == null) ||
                                     videoSignalingObject.debugShowAllVideoWindows">
                                    <h4>Remote HD Video</h4>

                                    <div  class="cl-my-well" style="display:inline-block">
                                        <div style="position: relative">
                                            <div lx-video-element-directive video-window='remote'></div>
                                            <div lx-video-settings-negotiation-directive></div>
                                        </div>
                                    </div>
                                </div>

                                <div lx-draw-remote-ascii-video-directive id="id-remote-ascii-video-wrapper-div"
                                     ng-show="(videoSignalingObject.remoteIsSendingVideoType == 'ASCII Video') ||
                                     (!videoSignalingObject.remoteIsSendingVideoType && videoSignalingObject.localHasSelectedVideoType == 'ASCII Video') ||
                                     videoSignalingObject.debugShowAllVideoWindows">
                                    <h4>Remote ASCII Video</h4>
                                    <div style="display:inline-block" class="cl-my-well">
                                        <div style="position: relative">
                                            <!-- Do not move the span to a different line than the pre - the formatting will change if this is done since a blank will be added before the span. -->
                                            <pre class = "cl-ascii-container cl-video-sizing"><span class="cl-ascii-drawing-text cl-ascii-normal-span">
                                            </span></pre>
                                            <div lx-video-settings-negotiation-directive></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div lx-monitor-control-keys-directive ></div>
            </div> <!-- end row -->
            <div class="row">
                <div class="col-sm-6 text-center">
                    <span class="cl-call-control-icon-wrapper-cfg">
                        <span class="icon-lx-phone-hang-up-cfg"></span>
                    </span>
                </div>

                <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-sm"
                                ng-class="(videoSignalingObject.localHasSelectedVideoType == 'HD Video') ? 'btn-primary disabled' : 'btn-default'"
                                ng-click="setLocalVideoType('HD Video')">HD Video</button>
                        <button type="button" class="btn btn-sm"
                                ng-class="(videoSignalingObject.localHasSelectedVideoType == 'ASCII Video') ? 'btn-primary disabled' : 'btn-default'"
                                ng-click="setLocalVideoType('ASCII Video')">ASCII Video</button>


                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h4>Chat room status:
                        <span ng-show="!videoSignalingObject.remoteUserId">Waiting for someone to join ... </span>
                        <span ng-show="videoSignalingObject.remoteUserName!=videoSignalingObject.remoteUserId">{{ videoSignalingObject.remoteUserName }} has joined</span>
                        <span ng-show="videoSignalingObject.remoteUserId && videoSignalingObject.remoteUserName==videoSignalingObject.remoteUserId">Guest has joined</span>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div ng-if="debugBuildEnabled">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td>Room Name: {{ roomName }}</td>
                                <td>Room Id:   {{ roomId }}</td>
                            </tr>
                            <tr>
                                <td>User Name: {{ userName }}</td>
                                <td>Remote User Name: {{ videoSignalingObject.remoteUserName }}</td>
                            </tr>
                            <tr>
                                <td>User Id: {{ userId }}</td>
                                <td>Remote User Id: {{ videoSignalingObject.remoteUserId }}</td>
                            </tr>
                            <tr>
                                <td>localHasSelectedVideoType: {{ videoSignalingObject.localHasSelectedVideoType }}</td>
                                <td>remoteVideoSignalingStatus.settingsType: {{ videoSignalingObject.remoteVideoSignalingStatus.settingsType }}</td>
                            </tr>
                            <tr>
                                <td>localIsNegotiatingForVideoType: {{ videoSignalingObject.localIsNegotiatingForVideoType }}</td>
                                <td>remoteVideoSignalingStatus.videoType: {{ videoSignalingObject.remoteVideoSignalingStatus.videoType }}</td>
                            </tr>
                            <tr>
                                <td>localIsSendingVideoType: {{ videoSignalingObject.localIsSendingVideoType }}</td>
                                <td>remoteIsSendingVideoType: {{ videoSignalingObject.remoteIsSendingVideoType }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Footer div is at the bottom of the page, but is placed here so that it
            has access to the main-video-ctrl scope -->

            <nav lx-call-status-directive class="navbar navbar-inverse navbar-fixed-bottom"></nav>
        </div>
    </div>
</div>

{% endraw %}