


<div class="cl-video-buttons-overlay">
    <!-- enable/disable microphone - button that indicates that the microphone stream is currently enabled -->
    <button ng-show="!localVideoObject.isMicrophoneMuted"
            type="button" class="btn btn-md btn-primary cl-video-control-button"
            ng-click="toggleMicrophoneMuteInterfaceFn()">
        <span class="cl-lx-call-control-wrapper-cfg">
            <span class="icon-lx-microphone-cfg"></span>
            <span class="icon-lx-thick-forward-slash-cfg"></span>
            <span class="icon-lx-thin-forward-slash-cfg"></span>
        </span>


    </button>

    <button ng-show="localVideoObject.isMicrophoneMuted"
            type="button" class="btn btn-md btn-primary cl-video-control-button"
            ng-click="toggleMicrophoneMuteInterfaceFn()">
        <span class="cl-lx-call-control-wrapper-cfg">
            <span class="icon-lx-microphone-cfg"></span>

        </span>

    </button>


    <!-- enable/disable video - button that indicates that the video stream is currently enabled -->
    <button ng-show="!localVideoObject.isWebcamMuted"
            type="button" class="btn btn-md btn-primary cl-video-control-button"
            ng-click="toggleWebcamMuteInterfaceFn()">
        <span class="cl-lx-call-control-wrapper-cfg">
            <span class="icon-lx-video-camera-filled-cfg"></span>
            <span class="icon-lx-thick-forward-slash-cfg"></span>
            <span class="icon-lx-thin-forward-slash-cfg"></span>
        </span>

    </button>

    <button ng-show="localVideoObject.isWebcamMuted"
            type="button" class="btn btn-md btn-primary cl-video-control-button"
            ng-click="toggleWebcamMuteInterfaceFn()">
        <span class="cl-lx-call-control-wrapper-cfg">
            <span class="icon-lx-video-camera-filled-cfg"></span>
        </span>

    </button>
</div>

<div class="cl-selected-icon-status-overlay">
    <div style="float:right">
        <div style="display: inline-block">
            <span ng-show="localVideoObject.isMicrophoneMuted">
                <span class="cl-video-status-icon">
                    <span class="cl-lx-call-control-wrapper-cfg">
                        <span class="icon-lx-microphone-cfg cl-text-shadow"></span>
                        <span class="icon-lx-thick-forward-slash-cfg"></span>
                        <span class="icon-lx-thin-forward-slash-cfg"></span>
                    </span>
                </span>
            </span>
        </div>

        <div style="display: inline-block">
            <span ng-show="localVideoObject.isWebcamMuted">
                <span class="cl-video-status-icon">
                    <span class="cl-lx-call-control-wrapper-cfg">
                        <span class="icon-lx-video-camera-filled-cfg cl-text-shadow"></span>
                        <span class="icon-lx-thick-forward-slash-cfg"></span>
                        <span class="icon-lx-thin-forward-slash-cfg"></span>
                    </span>
                </span>
            </span>
        </div>
    </div>
</div>
