


<div class="cl-video-buttons-overlay">
    <!-- enable/disable microphone - button that indicates that the microphone stream is currently enabled -->
    <button ng-show="!localVideoObject.isMicrophoneMuted"
            type="button" class="btn btn-sm btn-primary cl-video-control-button"
            ng-click="toggleMicrophoneMuteInterfaceFn()">

        <span class="cl-lx-call-control-wrapper-cfg">
            <span class="icon-lx-microphone-cfg"></span>

        </span>
    </button>

    <button ng-show="localVideoObject.isMicrophoneMuted"
            type="button" class="btn btn-sm btn-default cl-video-control-button"
            ng-click="toggleMicrophoneMuteInterfaceFn()">
        <span class="cl-lx-call-control-wrapper-cfg">
            <span class="icon-lx-microphone-cfg"></span>
            <span class="icon-lx-thick-forward-slash-cfg"></span>
            <span class="icon-lx-thin-forward-slash-cfg"></span>
        </span>

    </button>


    <!-- enable/disable video - button that indicates that the video stream is currently enabled -->
    <button ng-show="!localVideoObject.isWebcamMuted"
            type="button" class="btn btn-sm btn-primary cl-video-control-button"
            ng-click="toggleWebcamMuteInterfaceFn()">

        <span class="cl-lx-call-control-wrapper-cfg">
            <span class="icon-lx-video-camera-filled-cfg"></span>
        </span>
    </button>

    <button ng-show="localVideoObject.isWebcamMuted"
            type="button" class="btn btn-sm btn-default cl-video-control-button"
            ng-click="toggleWebcamMuteInterfaceFn()">

        <span class="cl-lx-call-control-wrapper-cfg">
            <span class="icon-lx-video-camera-filled-cfg"></span>
            <span class="icon-lx-thick-forward-slash-cfg"></span>
            <span class="icon-lx-thin-forward-slash-cfg"></span>
        </span>
    </button>
</div>


<!-- if the overlay information is already shown (ie. "we are connecting to remote user"), then don't show
the status of the users buttons (ie. "microphone is muted") - this is necessary because on small screens there
is not enough space to show both messages without them overlapping. -->
<div ng-show='!videoExchangeDisplayOverlayTrackerObject.currentlyShown'
     class="cl-button-status-overlay cl-video-exchange-info-overlay-text">
    <div ng-show="localVideoObject.isMicrophoneMuted"
         class="cl-show-hide-fade">
        <div class="cl-text-outline ">
            Microphone is muted
        </div>
    </div>

    <div ng-show="localVideoObject.isWebcamMuted"
         class="cl-show-hide-fade">
        <div class="cl-text-outline ">
            Webcam is muted
        </div>
    </div>
</div>
