
<!-- This row contains the buttons that control the videoType that will be transmitted and microphone/sound/video mute -->

    <div class="cl-video-buttons-overlay cl-hangup-button-overlay">

        <!-- "Hangup" video button -->
        <button type="button" class="btn btn-sm btn-danger cl-video-control-button"
                ng-click="showVideoElementsAndStartVideoFn('hangupVideoExchange', remoteClientId)">
            <span class="icon-lx-start-video-camera-wrapper-cfg">
                <span class="icon-lx-phone-hang-up-cfg"></span>
            </span>
        </button>
    </div>


    <div class="cl-video-buttons-overlay">
        <!-- enable/disable remote audio -->
        <button ng-show="remoteHdVideoElementsDict[remoteClientId].isAudioMuted"
                type="button" class="btn btn-sm btn-primary cl-video-control-button"
                ng-click="toggleAudioMuteInterfaceFn(remoteClientId)">

            <span class="cl-lx-call-control-wrapper-cfg">
                <span class="icon-lx-volume-high-cfg"></span>

            </span>
        </button>

        <button ng-show="!remoteHdVideoElementsDict[remoteClientId].isAudioMuted"
                type="button" class="btn btn-sm btn-primary cl-video-control-button"
                ng-click="toggleAudioMuteInterfaceFn(remoteClientId)">
            <span class="cl-lx-call-control-wrapper-cfg">
                <span class="icon-lx-volume-high-cfg"></span>
                <span class="icon-lx-thick-forward-slash-cfg"></span>
                <span class="icon-lx-thin-forward-slash-cfg"></span>
            </span>

        </button>
    </div>

    <div class="cl-selected-icon-status-overlay cl-status-beside-hangup-overlay">
        <div ng-show="remoteHdVideoElementsDict[remoteClientId].isAudioMuted">
            <span class="cl-video-status-icon">
                <span class="cl-lx-call-control-wrapper-cfg">
                    <span class="icon-lx-volume-high-cfg cl-text-shadow"></span>
                    <span class="icon-lx-thick-forward-slash-cfg"></span>
                    <span class="icon-lx-thin-forward-slash-cfg"></span>
                </span>
            </span>
        </div>
    </div>
