{% raw %}


<div>{{ errorStatus }}</div>

{% endraw %}{% include "lx-templates/lx-jinja-templates/lx-tc-check-if-system-supports-web-rtc.html" %}{% raw %}
<div lx-check-if-system-supports-web-rtc></div>

<div ng-controller='lxLoginRegistrationCtrl'>
    <div class="row">
        <div >
            <div class="col-xs-12">
                <div class="well cl-xs-max-width">
                    <h3>Enter into a chat room</h3>
                    <div class="clearfix">

                        <form name="createRoomForm" role="form" novalidate>
                            <div class="form-group">
                                <div class="cl-room-name-input input-group">
                                    <input class=" form-control"
                                           placeholder="room name"
                                           name="enterRoomName"
                                           ng-model="createRoom.roomName"
                                           ng-minlength="{{ minInputLength }}"
                                           ng-maxlength="{{ maxInputLength }}"
                                           required
                                           ng-class="highlightInput(createRoomForm.enterRoomName)"
                                           ng-pattern="getValidRoomNamePattern()"
                                           ng-trim="false"
                                            />
                                    <span class="input-group-btn">
                                        <button ng-click="createRoom(createRoom.roomName)" class="btn btn-primary">Enter chat room</button>
                                    </span>
                                </div>
                                Calling function: "highlightInput(createRoomForm.enterRoomName)"

                                <div class="text-danger" ng-show="createRoomForm.enterRoomName.$dirty">
                                    <small  ng-show="createRoomForm.enterRoomName.$error.required">Please input a username</small>
                                    <small  ng-show="createRoomForm.enterRoomName.$error.minlength">Room name must be at least {{ minInputLength }} characters</small>
                                    <small  ng-show="createRoomForm.enterRoomName.$error.maxlength">Room name cannot be longer than {{ maxInputLength }} characters</small>
                                    <small  ng-show="createRoomForm.enterRoomName.$error.pattern">You have entered an invalid character</small>
                                    <small  ng-show="createRoomForm.enterRoomName.$error.unique">That room is taken, please try another</small>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endraw %}