{% raw %}


<div>{{ errorStatus }}</div>

{% endraw %}{% include "lx-templates/lx-jinja-templates/lx-tc-check-if-system-supports-web-rtc.html" %}{% raw %}
<div lx-check-if-system-supports-web-rtc></div>

<div ng-controller='lxLoginRegistrationCtrl'>
    <div class="row">
        <div >
            <div class="col-xs-12">
                <div class="well cl-xs-max-width">
                    <h3>Enter into a chat room</h3>
                    <div class="clearfix">
                        <form name="createRoomForm" role="form" novalidate>
                            <div class="form-group">
                                <div class="cl-room-name-input input-group">
                                   <input class=" form-control"
                                          placeholder="room name"
                                          name="enterRoomName"
                                          ng-model="createRoom.roomName"
                                          ng-minlength="{{ minInputLength }}"
                                          ng-maxlength="{{ maxInputLength }}"
                                          required
                                          ng-class="highlightInput(createRoomForm.enterRoomName)"
                                          ng-pattern="getValidRoomNamePattern()"
                                           />
                                    <span class="input-group-btn">
                                        <button ng-click="createRoom(createRoom)" class="btn btn-primary">Enter chat room</button>
                                    </span>
                                </div>

                                <span class="text-danger" ng-show="createRoomForm.enterRoomName.$error.required &&
                                        createRoomForm.enterRoomName.$dirty">
                                    Please enter a valid room name (cannot contain /+
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endraw %}